/* Building Styles */


.factory_left {
    min-height: 500px;
    width: 250px;
    float: left;
    text-align: center;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.factory_up {
    height: auto;
    width: 1030px;
    float: left;
    text-align: center;
    margin: 4px 4px 0 4px;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
}


.factory_right{
    min-height: 500px;
    width: 775px;
    background-color: #575757;
    padding: 3px;
    margin-top: 4px;
    margin-left: 4px;
    float: left;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;

}

.factory_right p{
    margin-left: 3px;
    margin-top: 3px;
}

.factory_right h4{
    margin: 3px 0 3px 5px;

}

.factory_place {
    display: inline-block;
    width: 150px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: 1px solid #000000;
    border-radius: 6px;
    background: #c0c0c0;
    color: rgb(0, 0, 0);
}

.factory_information {
    margin-top: 1px;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
    margin-bottom: 2px;
}


.complex_botton {
    display: inline-block;
    width: 120px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
}


.building_bottom {
    display: inline-block;
    width: 150px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
}


.complex_left{
    min-height: 500px;
    width: 370px;
    float: left;
    margin-top: 5px;
    margin-left: 4px;
    border: 1px solid black;
    border-radius: 7px;
}

.complex_left h4{
    text-align: center;
    margin-top: 5px;
}

.complex_left p{
    margin: 5px 0 0 10px;
}

.complex_right{
    border: 1px solid black;
    border-radius: 7px;
    min-height: 500px;
    width: 383px;
    float: left;
    text-align: center;
    margin-top: 5px;
    margin-left: 4px;
}


.toggle-box {
    display: none;
}

.toggle-box + label {
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 14px;
    margin-top: 3px;
    margin-bottom: 1px;
    margin-left: 4px;
    color: #000000;
}

.toggle-box + label + div {
    display: none;
    margin: 2px;
}

.toggle-box:checked + label + div {
    display: block;
}

.inform_place {
    border: 1px solid #353535;
    border-radius: 7px;
    padding: 1px;
}

.ok_bottom {
    display: inline-block;
    width: 30px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
}