/* Global Styles */
body {
    font-size: 13px;
    line-height: 20px;
    font-family: Arial, Tahoma;
    background: url(images/Index/Fon_body.jpg) no-repeat fixed center 0 #263541;
    min-width: 800px;
    margin: 0 auto;
}

a {
    color: #68d3ed;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1 {
    padding: 0px;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    color: #ffffff;
    margin: 10px 0;
    height: 21px;
}

h1 span {
    background: #616161;
    padding: 0px 10px 0px 0px;
}

p {
    margin: 0;
}

#header {
    background: url(images/Index/Fon_header.jpg) no-repeat;
    background-position: center;
    clear: both;
    width: 100%;
    min-width: 800px;
    height: 300px;
}

#logo {
    position: absolute;
    text-align: center;
    width: 100%;
    min-width: 800px;
    text-align: center;
    margin-top: 45px;
}

#logo a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 23px;
}

#menu {
    height: 30px;
    max-width: 1600px;
    min-width: 800px;
    background-color: #616161;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
}

#menu ul li {
    display: inline-block;
    float: inherit;
    width: 110px;
    list-style: none;
    align-self: center;
    padding: 6px;
}

#menu a {
    display: block;
    width: 110px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}

#menu a:hover {
    color: #68d3ed;
}

#inform {
    min-width: 800px;
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}

.inform_panel_city {
    margin: 2px 0px 0px 5px;
    background-color: #616161;
    opacity: 0.9;
    border-radius: 5px;
    float: left;
    width: 15%;
    border: 1px solid #323232;
    box-sizing: border-box;
}

.inform_panel {
    margin: 1px 0px 0px 0px;
    background-color: #616161;
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid #323232;
    box-sizing: border-box;
    float: left;
    width: 10.5%;
}

#index_center {
    margin: 7px;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    float: left;
    width: 69%;
    text-align: center;
}

#index_right {
    margin: 7px 0px 0px 0px;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    float: left;
    width: 29%;
    text-align: center;
}

#index_right h3 {
    color: white;
    background-color: #797979;
    border-radius: 5px;

}

#city {
    width: 175px;
    border-color: #797979;
    background: #616161;
    border-radius: 7px;
}

#content {
    clear: both;
    min-width: 800px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#footer {
    background: #616161;
    height: 74px;
    clear: both;
    border-radius: 7px;
    opacity: 0.8;
    max-width: 1600px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

#left_footer {
    float: left;
    padding: 30px 0 0 30px;
    color: #fff;
    font-size: 12px;
}

#left_footer a {
    color: #fff;
}

#left_footer a:hover {
    text-decoration: none;
}

#right_footer {
    float: right;
    padding: 30px 30px 0 0;
    color: #fff;
    font-size: 12px;
    text-align: right;
}

#right_footer a {
    color: #fff;
}

#right_footer a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.header {
    width: 100%;
    height: 150px;
    background-color: lightgreen;
    padding: 10px;
    text-align: center

}

.inform_line {
    width: 100%;
    height: 5px;
    background-color: lavender;
    padding: 5px;
    text-align: center;
}

.inform_line_city {
    width: 28%;
    height: 5px;
    background-color: thistle;
    padding: 5px;
    text-align: left;
}

.inform_line_res {
    width: 8%;
    height: 5px;
    background-color: lawngreen;
    padding: 5px;
    text-align: left;
}

.left_col {
    width: 12%;
    height: 15px;
    background-color: lightblue;
    padding: 15px;
    vertical-align: top;
    align-content: center;
    text-decoration: none;

}

.center_col {
    width: 71%;
    background-color: greenyellow;
    padding: 10px;
    vertical-align: top;
    text-align: center;
}

.center_col_left {
    width: 27%;
    background-color: lightcoral;
    padding: 10px;
    vertical-align: top;
    text-align: left;

}

.center_col_right {
    width: 44%;
    background-color: teal;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.right_col {
    width: 17%;
    background-color: lemonchiffon;
    padding: 15px;
    vertical-align: top;
}

.footer {
    width: 100%;
    padding: 10px 0 10px 10px;
    background-color: olivedrab;
    font-size: 15px
}

.scientic_col {
    width: 20%;
    background-color: lightcoral;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.scientic {
    width: 150px;
    align-self: center;
}

.choice {
    width: 110px;
    align-self: center;
}

.choice_factory_elements {
    width: 110px;
    align-self: center;
}

.build_select {
    width: 150px;
    align: center;
}

.toggle-box {
    display: none;
    text-align: left
}

.toggle-box + label {
    display: block;
    text-align: left;
}

.toggle-box + label + div {
    display: none;
    background-color: greenyellow text-align : left;
}

.toggle-box:checked + label + div {
    display: block;
    background-color: greenyellow text-align : left;
    align-self: left;
    padding: 5px;
}

.factory_left {
    width: 50%;
    background-color: peachpuff;
    padding: 15px;
    vertical-align: top;
}

.factory_right {
    width: 30%;
    background-color: lightblue;
    padding: 15px;
    vertical-align: top;

}