{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="content-type" content=text/html; charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static 'js/button.js' %}"></script>

</head>
<body id="inside">

<div id="logo" align="center"></div>
<div id="header_inside"></div>
<div id="block_content">
    <div id="left_menu">
        <form method="post" enctype="multipart/form-data" action="generation" style="margin-top: 6px">
            <div>
                <button class="menu_button" type="submit" name="civilization">Цивилизация</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="warehouse">
            <div>
                <button class="menu_button" type="submit" name="warehouse">Склад</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="knowledge">
            <div>
                <button class="menu_button" type="submit" name="knowledge">Исследования</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="building">
            <div>
                <button class="menu_button" type="submit" name="building">Строительство</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="factory">
            <div>
                <button class="menu_button" type="submit" name="factory">Производство</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="economik">
            <div>
                <button class="menu_button" type="submit" name="economics">Економика</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="designingships">
            <div>
                <button class="menu_button" type="submit" name="designingships">Проектирование</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="space_forces">
            <div>
                <button class="menu_button" type="submit" name="MSF">ВКС</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="star_map">
            <div>
                <button class="menu_button" type="submit" name="starmap">Звездна карта</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="trade">
            <div>
                <button class="menu_button" type="submit" name="trade">Торговля</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="alliance">
            <div>
                <button class="menu_button" type="submit" name="alliance">Альянс</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="diplomacy">
            <div>
                <button class="menu_button" type="submit" name="diplomacy">Дипломатия</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="quest">
            <div>
                <button class="menu_button" type="submit" name="quest">Квесты</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="forum">
            <div>
                <button class="menu_button" type="submit" name="forum">Форум</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="exit">
            <div>
                <button class="menu_button" type="submit" name="exit">Выход</button>
            </div>
        </form>
    </div>

    {% block content %}{% endblock %}


</div>
<div class="clear"></div>
<div id="footer">
    <div id="left_footer">&copy; Copyright 2015 <b>CRROTA</b> design</div>
    <div id="right_footer"> Design by <b>CRROTA</b> Software</div>
</div>
<!-- end footer -->

</body>

</html>

