{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="content-type" content=text/html; charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static 'js/button.js' %}"></script>

</head>
<body id="inside">

<div id="logo" align="center"></div>
<div id="header_inside"></div>
<div id="block_content">
    <div id="left_menu">
        <form method="post" enctype="multipart/form-data" action="generation" style="margin-top: 6px">
            <div>
                <button class="menu_button" type="submit" name="generation">Генерация</button>
            </div>
        </form>

    {% block content %}{% endblock %}


</div>
<div class="clear"></div>
<div id="footer">
    <div id="left_footer">&copy; Copyright 2015 <b>CRROTA</b> design</div>
    <div id="right_footer"> Design by <b>CRROTA</b> Software</div>
</div>
<!-- end footer -->

</body>

</html>

