{% for flightplan_flight in flightplan_flights %}
    {% if flightplan_flight.flightplan.id == flightplan.id %}
        <tr align="center">
            <td><p>Перелет</p></td>
            <td>

                <p>
                    {% if flightplan_flight.command_id == 1 %}
                        Системный полет
                    {% elif flightplan_flight.command_id == 2 %}
                        Межсистемный полет
                    {% elif flightplan_flight.command_id == 3 %}
                        Гиперпереход
                    {% elif flightplan_flight.command_id == 4 %}
                        Нуль-переход
                    {% endif %}

                    {% if flightplan_flight.planet_id == 0 %}
                        <p>в кооординаты
                        <span style="font-weight: bold">{{ flightplan_flight.finish_x }}
                        : {{ flightplan_flight.finish_y }}
                        : {{ flightplan_flight.finish_z }}</span></p>
                    {% else %}
                        к планете
                        <span style="font-weight: bold">{{ flightplan_flight.system_id }} : {{ flightplan_flight.planet_id }}</span>

                    {% endif %}
                </p>
                <p>Статус:
                    {% if flightplan.status == 0 %}
                        <span style="font-weight: bold">Ожидание</span>
                    {% else %}
                        <span style="font-weight: bold">В
                        процессе</span>
                    {% endif %}
                </p>
            </td>
            <td>
                <form method="post" action="fleet_flightplan">
                    <input type="hidden" value={{ fleet.id }} name="hidden_fleet"/>
                    <input type="hidden"
                           value={{ flightplan.id }} name="hidden_flightplan_id"/>
                    <input class="delete_button" type="submit" value="Remove"
                           name="delete_command"/>
                </form>
            </td>
        </tr>
    {% endif %}
{% endfor %}