{% for flightplan_scan in flightplan_scans %}
    {% if flightplan_scan.flightplan.id == flightplan.id %}
        <tr align="center">
            <td>
                <p style="line-height: 12px">
                    {% if flightplan_scan.command_id == 1 %}
                        Сканирование окружения
                    {% elif flightplan_scan.command_id == 2 %}
                        Поиск астероидов
                    {% endif %}
                </p>
            </td>
            <td>
                <p>
                    в радиусе {{ flightplan_scan.range_scanning }} св.
                </p>

                <p>
                    Время сканирования {{ flightplan_scan.time_scanning }} секунд
                </p>

                <p>Status:
                    {% if flightplan.status == 0 %}
                        stand by
                    {% else %}
                        prosecution
                    {% endif %}
                </p>
            </td>
            <td>
                <form method="post" action="fleet_flightplan">
                    <input type="hidden" value={{ fleet.id }} name="hidden_fleet"/>
                    <input type="hidden"
                           value={{ flightplan.id }} name="hidden_flightplan_id"/>
                    <input class="delete_button" type="submit" value="Remove"
                           name="delete_command"/>
                </form>
            </td>
        </tr>
    {% endif %}
{% endfor %}