{% for flightplan_hold in flightplan_holds %}
    {% if flightplan.id == flightplan_hold.flightplan.id %}
        <tr align="center">
            <td>
                <p>
                    {% if flightplan_hold.command_id == 1 %}
                        Загрузить
                    {% elif flightplan_hold.command_id == 2 %}
                        Вигрузить
                    {% elif flightplan_hold.command_id == 3 %}
                        Выгрузить все
                    {% else %}
                        Полностью разгрузить трюм
                    {% endif %}
                </p>
            </td>
            <td>
                {% if flightplan_hold.command_id != 4 %}
                    <p>
                        {{ flightplan_hold.name }}: {{ flightplan_hold.amount }} единиц

                    </p>
                {% endif %}
                <p>
                    Время процеса:{{ flightplan_hold.time }} секунд
                </p>

                <p>Статус:
                    {% if flightplan.status == 0 %}
                        Ожидание
                    {% else %}
                        Выполнение
                    {% endif %}
                </p>
            </td>
            <td>
                <form method="post" action="fleet_flightplan">
                    <input type="hidden" value={{ fleet.id }} name="hidden_fleet"/>
                    <input type="hidden"
                           value={{ flightplan.id }} name="hidden_flightplan_id"/>
                    <input class="delete_button" type="submit" value="Remove"
                           name="delete_command"/>
                </form>
            </td>
        </tr>
    {% endif %}
{% endfor %}