<select name="id_hold_element" class="list_force">
    <option selected disabled>Товар</option>
    {% if fleet.resource_hold %}
        {% if fleet.resource_hold.res_nickel > 0 %}
            <option value="1">Никель( {{ fleet.resource_hold.res_nickel }} )</option>
        {% endif %}
        {% if fleet.resource_hold.res_iron > 0 %}
            <option value="2">Железо( {{ fleet.resource_hold.res_iron }} )</option>
        {% endif %}
        {% if fleet.resource_hold.res_cooper > 0 %}
            <option value="3">Медь( {{ fleet.resource_hold.res_cooper }} )</option>
        {% endif %}
        {% if fleet.resource_hold.res_aluminum > 0 %}
            <option value="4">Алюминий( {{ fleet.resource_hold.res_aluminum }} )</option>
        {% endif %}
        {% if fleet.resource_hold.res_veriarit > 0 %}
            <option value="5">Вариарит( {{ fleet.resource_hold.res_veriarit }} )</option>
        {% endif %}
        {% if fleet.resource_hold.res_inneilit > 0 %}
            <option value="6">Иннэлит( {{ fleet.resource_hold.res_inneilit }} )</option>
        {% endif %}
        {% if fleet.resource_hold.res_renniit > 0 %}
            <option value="7">Иннэлит( {{ fleet.resource_hold.res_renniit }} )</option>
        {% endif %}
        {% if fleet.resource_hold.res_cobalt > 0 %}
            <option value="8">Кобальт( {{ fleet.resource_hold.res_cobalt }} )</option>
        {% endif %}
        {% if fleet.resource_hold.mat_construction_material > 0 %}
            <option value="9">Строительные материалы( {{ fleet.resource_hold.mat_construction_material }} )</option>
        {% endif %}
        {% if fleet.resource_hold.mat_chemical > 0 %}
            <option value="10">Химические реактивы( {{ fleet.resource_hold.mat_chemical }} )</option>
        {% endif %}
        {% if fleet.resource_hold.mat_high_strength_allov > 0 %}
            <option value="11"><option value="1">Высокопрочные сплавы( {{ fleet.resource_hold.mat_high_strength_allov }} )</option>
        {% endif %}
        {% if fleet.resource_hold.mat_nanoelement > 0 %}
            <option value="12">Наноэлементы( {{ fleet.resource_hold.mat_nanoelement }} )</option>
        {% endif %}
        {% if fleet.resource_hold.mat_microprocessor_element > 0 %}
            <option value="13">Микропроцессорные элементы( {{ fleet.resource_hold.mat_microprocessor_element }} )</option>
        {% endif %}
        {% if fleet.resource_hold.mat_fober_optic_element > 0 %}
            <option value="14">Оптоволоконные элементы( {{ fleet.resource_hold.mat_fober_optic_element }} )</option>
        {% endif %}
    {% endif %}
    {% if ship_holds %}
        <optgroup label="Resource">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 0 %}
                    {% for basic_resource in basic_resources %}
                        {% if basic_resource.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ basic_resource.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Factory">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 10 %}
                    {% for factory_pattern in factory_patterns %}
                        {% if factory_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ factory_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Hull">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 1 %}
                    {% for hull_pattern in hull_patterns %}
                        {% if hull_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ hull_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Armor">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 2 %}
                    {% for armor_pattern in armor_patterns %}
                        {% if armor_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ armor_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Shield">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 3 %}
                    {% for shield_pattern in shield_patterns %}
                        {% if shield_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ shield_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Engine">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 4 %}
                    {% for engine_pattern in engine_patterns %}
                        {% if engine_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ engine_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Generator">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 5 %}
                    {% for generator_pattern in generator_patterns %}
                        {% if generator_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ generator_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Weapon">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 6 %}
                    {% for weapon_pattern in weapon_patterns %}
                        {% if weapon_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ weapon_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Shell">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 7 %}
                    {% for shell_pattern in shell_patterns %}
                        {% if shell_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ shell_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Module">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 8 %}
                    {% for module_pattern in module_patterns %}
                        {% if module_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ module_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Device">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 9 %}
                    {% for device_pattern in device_patterns %}
                        {% if device_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ device_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
        <optgroup label="Fuel">
            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 14 %}
                    {% for fuel_pattern in fuel_patterns %}
                        {% if fuel_pattern.id == ship_hold.id_shipment %}
                            <option value="{{ ship_hold.id }}">{{ fuel_pattern.name }}
                                ( {{ ship_hold.amount_shipment }} )
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </optgroup>
    {% endif %}
</select>