{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="content-type" content=text/html; charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
<table cellpadding="0" cellspacing="0" width="65%" align="center">
    <tr>
        <td colspan="11" class="header">Мой сайт</td>
    </tr>
    <tr>
        <td class="inform_line_city">Поселение:</td>
        <td class="inform_line_res">Рес1: {{ user.internal_currency }}</td>
        <td class="inform_line_res">Рес2: {{ warehouse.resource1 }}</td>
        <td class="inform_line_res">Рес3: {{ warehouse.resource2 }}</td>
        <td class="inform_line_res">Рес4: {{ warehouse.resource3 }}</td>
        <td class="inform_line_res">Рес5: {{ warehouse.resource4 }}</td>
        <td class="inform_line_res">Рес6: {{ user.foreigh_currency }}</td>
        <td class="inform_line_res">Рес7: {{ city.population }}</td>
        <td class="inform_line_res">Рес8: {{ city.max_population }}</td>
        <td class="inform_line_res">Рес9: {{ user.real_currency }}</td>

        <td class="inform_line_res">Рес10: {{ city.use_energy }}/{{ city.power }}</td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="65%" align="center">
    <tr>
        <td rowspan="6" class="left_col">
            <form method="post" enctype="multipart/form-data" action="civilization">
                <div>
                    <button class="choice" type="submit" name="civilization">Цивилизация</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="warehouse">
                <div>
                    <button class="choice" type="submit" name="warehouse">Склад</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="scientic">
                <div>
                    <button class="choice" type="submit" name="scientic">Исследования</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="building">
                <div>
                    <button class="choice" type="submit" name="building">Строительство</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="factory">
                <div>
                    <button class="choice" type="submit" name="factory">Производство</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="economik">
                <div>
                    <button class="choice" type="submit" name="economics">Економика</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="project">
                <div>
                    <button class="choice" type="submit" name="desing">Проектирование</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="space_forces">
                <div>
                    <button class="choice" type="submit" name="MSF">ВКС</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="star_map">
                <div>
                    <button class="choice" type="submit" name="starmap">Звездна карта</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="trade">
                <div>
                    <button class="choice" type="submit" name="trade">Торговля</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="alliance">
                <div>
                    <button class="choice" type="submit" name="alliance">Альянс</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="diplomacy">
                <div>
                    <button class="choice" type="submit" name="diplomacy">Дипломатия</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="quest">
                <div>
                    <button class="choice" type="submit" name="quest">Квесты</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="forum">
                <div>
                    <button class="choice" type="submit" name="forum">Форум</button>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" action="exit">
                <div>
                    <button class="choice" type="submit" name="exit">Выход</button>
                </div>
            </form>
        </td>
        {% block content %}{% endblock %}

    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="65%" align="center">
    <tr>
        <td colspan="5" class="footer" align="center">&copy; 2015</td>
    </tr>
</table>
</body>
</html>

