{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="content-type" content=text/html; charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/window_style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static 'js/button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ship_project.js' %}"></script>
    <div id="logo" align="center"></div>
    <div id="header_inside"></div>
</head>

<body>

<div id="inform_panel">
    <div class="inform_city">
        <p>Поселение:</p>
        {% spaceless %}
            <p>{% for user_city in user_citys %}
                <select name="city" id="city">
                    <option value="{{ user_city.id }}">{{ user_city.name_city }}</option>
                </select>
            {% endfor %}</p>
        {% endspaceless %}
    </div>
    <div class="inform_resource">
        {% spaceless %}
            <p>Валюта </p>
            <p>{{ user.internal_currency }}</p>
        {% endspaceless %}
    </div>
    <div class="inform_resource">

    </div>
    <div class="inform_resource">

    </div>
    <div class="inform_resource">

    </div>
    <div class="inform_resource">

    </div>
    <div class="inform_resource">
        {% spaceless %}
            <p>Население:</p>
            <p>{{ user_city.population }} / {{ user_city.max_population }}</p>
        {% endspaceless %}
    </div>
    <div class="inform_resource">
        {% spaceless %}
            <p>Энергия
            <p>{{ user_city.use_energy }}/{{ user_city.power }}</p>
        {% endspaceless %}
    </div>
    <div class="inform_resource">
        {% spaceless %}
            <p>Кредиты: {{ user.foreigh_currency }}</p>
            <p>Ваучеры: {{ user.real_currency }}</p>
        {% endspaceless %}
    </div>
</div>
<div id="content">
    <div class="menu">
        <form method="post" action="civilization" style="margin-top: 6px">
            <div>
                <button class="menu_button" type="submit" name="civilization">Цивилизация</button>
            </div>
        </form>
        <form method="post" action="warehouse">
            <div>
                <button class="menu_button" type="submit" name="warehouse">Склад</button>
            </div>
        </form>
        <form method="post" action="knowledge">
            <div>
                <button class="menu_button" type="submit" name="knowledge">Исследования</button>
            </div>
        </form>
        <form method="post" action="building">
            <div>
                <button class="menu_button" type="submit" name="building">Строительство</button>
            </div>
        </form>
        <form method="post" action="factory">
            <div>
                <button class="menu_button" type="submit" name="factory">Фабрики</button>
            </div>
        </form>
        <form method="post" action="economik">
            <div>
                <button disabled class="menu_button" type="submit" name="economics">Економика</button>
            </div>
        </form>
        <form method="post" action="designingships">
            <div>
                <button class="menu_button" type="submit" name="designingships">Проектирование</button>
            </div>
        </form>
        <form method="post" action="space_forces">
            <div>
                <button class="menu_button" type="submit" name="MSF">ВКС</button>
            </div>
        </form>
        <form method="post" action="star_map">
            <div>
                <button disabled class="menu_button" type="submit" name="starmap">Звездна карта</button>
            </div>
        </form>
        <form method="post" action="trade">
            <div>
                <button class="menu_button" type="submit" name="trade">Торговля</button>
            </div>
        </form>
        <form method="post" action="alliance">
            <div>
                <button disabled class="menu_button" type="submit" name="alliance">Альянс</button>
            </div>
        </form>
        <form method="post" action="diplomacy">
            <div>
                <button class="menu_button" type="submit" name="diplomacy">Дипломатия</button>
            </div>
        </form>
        <form method="post" action="quest">
            <div>
                <button disabled class="menu_button" type="submit" name="quest">Квесты</button>
            </div>
        </form>
        <form method="post" action="forum">
            <div>
                <button disabled class="menu_button" type="submit" name="forum">Форум</button>
            </div>
        </form>
        <form method="post" action="exit">
            <div>
                <button disabled class="menu_button" type="submit" name="exit">Выход</button>
            </div>
        </form>
        <form method="post" action="chat">
            <div>
                <button class="menu_button" type="submit" name="chat">Чат</button>
            </div>
        </form>

    </div>
    <div id="game_content">
        {% block content %}{% endblock %}

        <div id="footer">
            <div id="left_footer">&copy; Copyright 2015 <b>CRROTA</b> design</div>
            <div id="right_footer"> Design by <b>CRROTA</b> Software</div>
        </div>
    </div>
    <!-- end footer -->
</div>

</body>

</html>

