{% extends "base.html" %}

{% block title %}Строительство{% endblock %}

{% block content %}

    <td colspan="45" class="center_col">
        {{ message }}
        {% if turn_assembly_piecess %}
            <p> Очередь строительства </p>
            {% for turn_assembly_pieces in turn_assembly_piecess %}
                <p>{{ turn_assembly_pieces.finish_time_assembly }}</p>
            {% endfor %}
        {% endif %}
        {% if turn_buildings %}
            <p> Очередь строительства </p>
            {% for turn_building in turn_buildings %}
                <p>{{ turn_building.finish_time_deployment }}</p>
            {% endfor %}
        {% endif %}
    </td>
    <style xmlns="http://www.w3.org/1999/html">
        p {
            margin-top: 0em; /* Отступ сверху */
            margin-bottom: 0em; /* Отступ снизу */
        }
    </style>

    <tr class="center_col">

        <th colspan="2">
            <form method="post" action="choice_build"
                  enctype="multipart/form-data">


                <p>Выберите строение</p>

                <p><input class="choice" id="choice_build" type="submit" value="Жилой блок" name="housing_unit"/>
                    <input class="choice" id="choice_build" type="submit" value="Ресурсодобыча" name="mine"/>
                    <input class="choice" id="choice_build" type="submit" value="Энергопроизводство"
                           name="energy_unit"/>
                    <br>
                </p>
            </form>
        </th>
    </tr>

    <tr>
        <td class="factory_left">
            {% for factory_pattern in factory_patterns %}
                {% if 9 < factory_pattern.production_class %}
                    <form method="post" action="working" enctype="multipart/form-data">
                        <H4><p align="left">{{ factory_pattern.name }}</p></H4>
                        <input class="toggle-box" id="factory{{ factory_pattern.id }}" type="checkbox" align="left">
                        <label for="factory{{ factory_pattern.id }}">Information</label>

                        <div>
                            <form method="post" action="working" enctype="multipart/form-data">
                                <input type="rename_factory_pattern" value="" name="rename_factory_pattern"
                                       id="rename_factory_pattern"
                                       placeholder="Новое название фабрики"/>
                                <input id="rename_factory_pattern" class="rename_factory_pattern" type="submit"
                                       value="Rename" name="rename_bottom"/>
                                <input type="hidden" id="factory{{ factory_pattern.id }}"
                                       value={{ factory_pattern.id }} name="hidden_factory">

                                <p align="left">
                                    {% for attribute in attributes %}
                                        <p align="left">
                                            {% load my_filter %}
                                            {% if factory_pattern|getattribute:attribute != 0 %}
                                                {{ attribute }}
                                                {{ factory_pattern|getattribute:attribute }}
                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                </p>
                            </form>
                            <form method="post" action="working" enctype="multipart/form-data">
                                {% if factory_pattern.production_class == 12 %}
                                    <p><label for="">Производство энергии</label>
                                        <select name="number" id="number">
                                            <option value="">Выберите коефициент увеличения производства</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select></p>
                                {% else %}

                                    <p><label for="">Одновременное производство</label>
                                        <select name="number" id="number">
                                            <option value="1">Выберите количество изделий за один цикл</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select></p>
                                    <p><label for="">Коефициент ускорения производства</label>
                                        <select name="speed" id="speed">
                                            <option value="1">Выберите коефициент</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select></p>
                                {% endif %}
                                <p><input id="upgrade_factory_pattern" class="upgrade_factory_pattern" type="submit"
                                          value="Upgrade" name="upgrade_factory_pattern"/>
                                    <input type="hidden" id="factory{{ factory_pattern.id }}"
                                           value={{ factory_pattern.id }} name="hidden_factory"></p>
                            </form>
                            <form method="post" action="working" enctype="multipart/form-data">
                                <p>Количество блоков<input type="amound_factory" value="" name="amound_factory"
                                                           id="amound_factory"
                                                           placeholder="Количество блоков фабрики"/>
                                    <input id="making_factory_unit" class="making_factory_unit" type="submit"
                                           value="Create" name="making_factory_unit"/></p>
                                <input type="hidden" id="factory{{ factory_pattern.id }}"
                                       value={{ factory_pattern.id }} name="hidden_factory"></p>
                            </form>
                            <form method="post" action="working" enctype="multipart/form-data">
                                <input id="delete_factory_pattern" class="delete" type="submit" value="Delete pattern"
                                       name="delete_factory_pattern"/>
                                <input type="hidden" id="factory{{ factory_pattern.id }}"
                                       value={{ factory_pattern.id }} name="hidden_factory"></p>
                            </form>
                            <form method="post" action="working" enctype="multipart/form-data">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if factory_pattern.id == warehouse_element.factory_id %}
                                        {% if warehouse_element.amount > 0 %}
                                            <p>Количество блоков на складе: {{ warehouse_element.amount }}</p>
                                            <p><input id="install__factory_unit" class="install__factory_unit"
                                                      type="submit" value="Install_unit" name="install__factory_unit"/>
                                                <input type="hidden" id="factory{{ factory_pattern.id }}"
                                                       value={{ factory_pattern.id }} name="hidden_factory"></p>
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </form>

                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </td>
        <td class="factory_right">
bhhnfghthxfgxfgjfgjfjcvcvjnfgjnxfgxbcv  hdfk dfopgog54iyo 'l;dfyj 'mdfkl;hdtjgkldf/h ,.gdf/gser,. rgdfklbfgmn dtb mdfl;mh
df
h rtl dfmbkl ;mkldfbnklh/rtmdfm/df
 db fgh lbmfklbh tmnklfnhtf
        </td>
    </tr>

    <tr class="center_col">
        <th colspan="2">
            <form method="post" action="choice_build"
                  enctype="multipart/form-data">
                <p>Выберите фабрику продукции</p>

                <p><input class="choice" id="choice" type="submit" value="Корпуса" name="hull"/>
                    <input class="choice" id="choice" type="submit" value="Броня" name="armor"/>
                    <input class="choice" id="choice" type="submit" value="Щиты" name="shield"/>
                    <input class="choice" id="choice" type="submit" value="Двигатели" name="engine"/>
                    <input class="choice" id="choice" type="submit" value="Генераторы" name="generator"/>
                    <input class="choice" id="choice" type="submit" value="Оружие" name="weapon"/>
                    <input class="choice" id="choice" type="submit" value="Боеприпасы" name="shell"/>
                    <input class="choice" id="choice" type="submit" value="Модули" name="module"/>
                    <input class="choice" id="choice" type="submit" value="Устройства" name="device"/>
                    <br>
                </p>
            </form>
        </th>
    </tr>

    <tr>
        <td class="factory_left">
            {% for factory_pattern in factory_patterns %}
                {% if 10 > factory_pattern.production_class %}
                    <form method="post" enctype="multipart/form-data">
                        <H4><p align="left">{{ factory_pattern.name }}</p></H4>
                        <input class="toggle-box" id="factory{{ factory_pattern.id }}" type="checkbox" align="left">
                        <label for="factory{{ factory_pattern.id }}">Information</label>

                        <div>
                            <form method="post" action="working" enctype="multipart/form-data">
                                <input type="rename_factory_pattern" value="" name="rename_factory_pattern"
                                       id="rename_factory_pattern"
                                       placeholder="Новое название фабрики"/>
                                <input id="rename_factory_pattern" class="rename_factory_pattern" type="submit"
                                       value="Rename" name="rename_bottom"/>
                                <input type="hidden" id="factory{{ factory_pattern.id }}"
                                       value={{ factory_pattern.id }} name="hidden_factory">

                                <p align="left">
                                    {% for attribute in attributes %}
                                        <p align="left">
                                            {% load my_filter %}
                                            {% if factory_pattern|getattribute:attribute != 0 %}
                                                {{ attribute }}
                                                {{ factory_pattern|getattribute:attribute }}
                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                </p>
                            </form>
                            <form method="post" action="working" enctype="multipart/form-data">
                                {% if factory_pattern.production_class == 12 %}
                                    <p><label for="">Производство энергии</label>
                                        <select name="number" id="number">
                                            <option value="">Выберите коефициент увеличения производства</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select></p>
                                {% else %}

                                    <p><label for="">Одновременное производство</label>
                                        <select name="number" id="number">
                                            <option value="1">Выберите количество изделий за один цикл</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select></p>
                                    <p><label for="">Коефициент ускорения производства</label>
                                        <select name="speed" id="speed">
                                            <option value="1">Выберите коефициент</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select></p>
                                {% endif %}
                                <p><input id="upgrade_factory_pattern" class="upgrade_factory_pattern" type="submit"
                                          value="Upgrade" name="upgrade_factory_pattern"/>
                                    <input type="hidden" id="factory{{ factory_pattern.id }}"
                                           value={{ factory_pattern.id }} name="hidden_factory"></p>
                            </form>
                            <form method="post" action="working" enctype="multipart/form-data">
                                <p>Количество блоков<input type="amound_factory" value="" name="amound_factory"
                                                           id="amound_factory"
                                                           placeholder="Количество блоков фабрики"/>
                                    <input id="making_factory_unit" class="making_factory_unit" type="submit"
                                           value="Create" name="making_factory_unit"/></p>
                                <input type="hidden" id="factory{{ factory_pattern.id }}"
                                       value={{ factory_pattern.id }} name="hidden_factory">
                            </form>
                            <form method="post" action="working" enctype="multipart/form-data">
                                <input id="delete_factory_pattern" class="delete" type="submit" value="Delete pattern"
                                       name="delete_factory_pattern"/>
                                <input type="hidden" id="factory{{ factory_pattern.id }}"
                                       value={{ factory_pattern.id }} name="hidden_factory"></p>
                            </form>
                            <form method="post" action="working" enctype="multipart/form-data">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if factory_pattern.id == warehouse_element.factory_id %}
                                        {% if warehouse_element.amount > 0 %}
                                            <p>Количество блоков на складе: {{ warehouse_element.amount }}</p>
                                            <p><input id="install__factory_unit" class="install__factory_unit"
                                                      type="submit" value="Install_unit" name="install__factory_unit"/>
                                                <input type="hidden" id="factory{{ factory_pattern.id }}"
                                                       value={{ factory_pattern.id }} name="hidden_factory">
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </form>

                        </div>
                    </form>
                {% endif %}
            {% endfor %}

        </td>
        <td class="factory_right">
jghjmgmnxhgjnghn gjgyjghjm gyugy
        </td>
    </tr>


{% endblock %}