{% extends "base.html" %}

{% block title %}Цивилизация{% endblock %}

{% block content %}
    <div id="game_content">
        <div id="game_content_left">
            {% load staticfiles %}
            <img src="{% static "images/Civilization/Planet.jpg" %}" width="226" height="301" align="left" style="margin: 10px">

            <p>Name: {{ user.user_name }}</p>

            <p>planet_type: {{ user.race_id }}</p>

            <p>E-mail: {{ user.e_mail }}</p>
        </div>

        <div id="game_content_right">
            <h3>
                CIVILIZATION VIEWS
            </h3>

            <p>Следует отметить, что мы явно не используем сокращение render_to_response() — мы вручную загружаем
                шаблоны, конструируем объекты с контекстом и обрабатываем шаблоны. Мы делаем так с целью облегчения
                понимания вами этих примеров.

                Каждое представление принимает три одинаковые переменные, app, user и ip_address, для своего
                шаблона.
                Неплохо было бы убрать эту избыточность.

                Класс RequestContext и контекстные процессоры были созданы для решения этой задачи. Контекстные
                процессоры позволяют вам указывать ряд переменных, которые будут устанавливаться автоматически для
                каждого контекста, без необходимости их указания в каждом вызове render_to_response(). Надо лишь
                использовать RequestContext вместо Context при обработке шаблона.

                Самый низкоуровневый метод использования контекстных процессоров заключается в создании нескольких
                процессоров и в передачи им RequestContext. Перепишем вышеприведённые примеры с использованием
                контекстных процессоров:</p>

        </div>
        <div id="game_content_down">
            <img src="../images/Civilization/Image_down.jpg" style="margin: 10px">
        </div>
    </div>

{% endblock %}


