{% extends "base.html" %}

{% block title %}Цивилизация{% endblock %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/civilization.css' %}">
    <div class="left_civilization">
        <div class="planet_image">
            <img class="planet_image" src="{% static "images/Civilization/Planet.jpg" %}">
        </div>
        <div class="player_info">
            <p>Player: {{ user.user_name }}</p>
            {% if user.premium_account == 1 %}
                <p>Account: <font color="#ffd700"><b>PREMIUM</b></font></p>
                <p>Time left: {{ user.time_left_premium }}</p>
            {% else %}
                <p>Account: <b>BASIC</b></p>
            {% endif %}
            <p>Race: {{ race.race_name }}</p>
            {% if user.alliance %}
                <p>Alliance: </p>
            {% endif %}
            {% if user.union %}
                <p>Union: </p>
            {% endif %}
            <br>

            <p>Planet number: {{ len_planet }}</p>
            <br>

            <p>City name: {{ user_city.name_city }}</p>
            {% if user_city.planet_id == 0 %}
                <p>Global coordinates: {{ user_city.x }}:{{ user_city.y }}:{{ user_city.z }}</p>
            {% else %}
                <p>System position: {{ user_city.system_id }}:{{ planet.planet_num }}</p>
            {% endif %}
        </div>
    </div>
    <div class="civilization_right">
        <h3>
            CIVILIZATION
            <VIEWS></VIEWS>
        </h3>

        <p>Следует отметить, что мы явно не используем сокращение render_to_response() — мы вручную загружаем
            шаблоны, конструируем объекты с контекстом и обрабатываем шаблоны. Мы делаем так с целью облегчения
            понимания вами этих примеров.

            Каждое представление принимает три одинаковые переменные, app, user и ip_address, для своего
            шаблона.
            Неплохо было бы убрать эту избыточность.

            Класс RequestContext и контекстные процессоры были созданы для решения этой задачи. Контекстные
            процессоры позволяют вам указывать ряд переменных, которые будут устанавливаться автоматически для
            каждого контекста, без необходимости их указания в каждом вызове render_to_response(). Надо лишь
            использовать RequestContext вместо Context при обработке шаблона.

            Самый низкоуровневый метод использования контекстных процессоров заключается в создании нескольких
            процессоров и в передачи им RequestContext. Перепишем вышеприведённые примеры с использованием
            контекстных процессоров:</p>

    </div>
    <div id="game_content_down">
        <img width="1030px" src="{% static "images/Civilization/Image_down.jpg" %}" style="margin: 3px">
    </div>
{% endblock %}


