{% extends "base.html" %}

{% block title %}Проектирование кораблей{% endblock %}

{% block content %}

    <div id="game_content">
        <div id="block_design_left">
            {% load staticfiles %}
            <img src="{% static "images/Civilization/Planet.jpg" %}" style="margin: 10px">
        </div>
        <div id="block_design_right">
            {% if chosen_hull == None %}
                <div id="block_design_up">
                    <form method="POST" action="new_ship">
                        <p> Choice hull pattern
                            <select name="choice_pattern" class="scientic">
                                {% for hull in hulls %}
                                    <option value="{{ hull.id }}"> {{ hull.name }} </option>
                                {% endfor %}
                            </select>
                            Ship name <input type="ship_name" value="" name="ship_name" class="scientic_place"
                                             placeholder="Название"/>
                            <input class="scientic" type="submit" value="Create" name="create_ship"/>
                        </p>
                    </form>
                </div>
            {% else %}
                <form method="POST" action="new_ship">
                    <div class="design_tabs">

                        <input type="hidden" id="{{ chosen_hull.id }}" value={{ chosen_hull.id }} name="chosen_hull">
                        <input type="hidden" id="{{ chosen_hull.name }}"
                               value={{ chosen_name }} name="chosen_hull_name">
                        <ul>
                            <li>
                                <input type="radio" name="design_tabs-0" checked="checked" id="design_tabs-0-0"/>
                                <label for="design_tabs-0-0">Armor</label>

                                <div>
                                    <h3>Select armor and side to fit on the body</h3>
                                    {% load my_filter %}
                                    {% for i in chosen_hull.armor|add:"0"|create_range %}
                                        <p>
                                            <select name="choice_armor" class="scientic">
                                                {% for armor in armors %}
                                                    <option value="{{ armor.id }}">{{ armor.name }}</option>
                                                {% endfor %}
                                            </select>

                                            <select name="choice_armor_side" class="scientic">
                                                <option value="0">Choice side</option>
                                                <option value="1">Front</option>
                                                <option value="2">Back</option>
                                                <option value="3">Top</option>
                                                <option value="4">Right</option>
                                                <option value="5">Bottom</option>
                                                <option value="6">Left</option>
                                            </select>
                                        </p>
                                    {% endfor %}


                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-1"/>
                                <label for="design_tabs-0-1">Shield</label>

                                <div>
                                    <h3>Select shield and side to fit on the body</h3>
                                    {% load my_filter %}
                                    {% for i in chosen_hull.shield|add:"0"|create_range %}
                                        <p>
                                            <select name="choice_shield" class="scientic">
                                                {% for shield in shields %}
                                                    <option value="{{ shield.id }}"> {{ shield.name }} </option>
                                                {% endfor %}
                                            </select>

                                            <select name="choice_shield_side" class="scientic">
                                                <option value="0">Choice side</option>
                                                <option value="1">Front</option>
                                                <option value="2">Back</option>
                                                <option value="3">Top</option>
                                                <option value="4">Right</option>
                                                <option value="5">Bottom</option>
                                                <option value="6">Left</option>
                                            </select>
                                        </p>
                                    {% endfor %}


                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-2"/>
                                <label for="design_tabs-0-2">Engine</label>

                                <div>
                                    <h3>Select engine side to fit on the body</h3>
                                    {% load my_filter %}
                                    {% for i in chosen_hull.engine|add:"0"|create_range %}
                                        <p>
                                            <select name="choice_engine" class="scientic">
                                                {% for engine in engines %}
                                                    <option value="{{ engine.id }}"> {{ engine.name }} </option>
                                                {% endfor %}
                                            </select>

                                            <select name="choice_engine_side" class="scientic">
                                                <option value="2">Back</option>
                                            </select>
                                        </p>
                                    {% endfor %}


                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-3"/>
                                <label for="design_tabs-0-3">Generator</label>

                                <div>
                                    <h3>Select generator side to fit on the body</h3>
                                    {% load my_filter %}
                                    {% for i in chosen_hull.generator|add:"0"|create_range %}
                                        <p>
                                            <select name="choice_generator" class="scientic">
                                                {% for generator in generators %}
                                                    <option value="{{ generator.id }}"> {{ generator.name }} </option>
                                                {% endfor %}
                                            </select>
                                        </p>
                                    {% endfor %}
                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-4"/>
                                <label for="design_tabs-0-4">Weapon</label>

                                <div>
                                    <h3>Select weapon side to fit on the body</h3>
                                    {% load my_filter %}
                                    {% for i in chosen_hull.weapon|add:"0"|create_range %}
                                        <p>
                                            <select name="choice_weapon" class="scientic">
                                                {% for weapon in weapons %}
                                                    <option value="{{ weapon.id }}"> {{ weapon.name }} </option>
                                                {% endfor %}
                                            </select>

                                            <select name="choice_weapon_side" class="scientic">
                                                <option value="0">Choice side</option>
                                                <option value="1">Front</option>
                                                <option value="3">Top</option>
                                                <option value="4">Right</option>
                                                <option value="6">Left</option>
                                            </select>
                                        </p>
                                    {% endfor %}


                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-5"/>
                                <label for="design_tabs-0-5">Main weapon</label>

                                <div>
                                    <h3>Select main weapon side to fit on the body</h3>
                                    {% load my_filter %}
                                    {% for i in chosen_hull.main_weapon|add:"0"|create_range %}
                                        <p>
                                            <select name="choice_main_weapon" class="scientic">
                                                {% for main_weapon in main_weapons %}
                                                    <option value="{{ main_weapon.id }}"> {{ main_weapon.name }} </option>
                                                {% endfor %}
                                            </select>

                                            <select name="choice_main_weapon_side" class="scientic">
                                                <option value="3">Top</option>
                                            </select>
                                        </p>
                                    {% endfor %}


                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-6"/>
                                <label for="design_tabs-0-6">Module</label>

                                <div>
                                    <h3>Select module side to fit on the body</h3>
                                    {% load my_filter %}
                                    {% for i in chosen_hull.module|add:"0"|create_range %}
                                        <p>
                                            <select name="choice_module" class="scientic">
                                                {% for module in modules %}
                                                    <option value="{{ module.id }}"> {{ module.name }} </option>
                                                {% endfor %}
                                            </select>
                                        </p>
                                    {% endfor %}


                                </div>
                            </li>

                        </ul>

                    </div>
                    <div>
                        <input class="scientic" type="submit" value="OK" name="create_ship_pattern"/>
                        <button class="scientic" type="submit" name="cancel_button" action="cancel">Cancel</button>
                    </div>
                </form>
            {% endif %}


        </div>

        <div class="clear"></div>
    </div>


    <div class="clear"></div>
{% endblock %}