{% extends "base.html" %}

{% block title %}Проектирование кораблей{% endblock %}

{% block content %}

    <div id="game_content">
        <div class="game_content_left">
            {% load staticfiles %}
            <img src="{% static "images/Civilization/Planet.jpg" %}" style="margin: 10px">


            {% for hull in hulls %}
                <div class="con">
                    <ul><span>{{ hull.name }}
                    <i>
                        <li style="list-style-type: none"> {{ hull.name }} </li>
                        <li> {{ hull.id }} </li>
                    </i>
                </span>
                    </ul>

                </div>

            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>


    <div class="clear"></div>
{% endblock %}