{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Производство{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/factory.css' %}">
    {% if message %}
    <div class="factory_up">
        <p>{{ message }}</p>
    </div>
    {% endif %}

    <div class="factory_left">
        <p>Выберите фабрику продукции</p>

        <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                {% spaceless %}
                    <option value="0">Корпуса</option>
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 1 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
        <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                {% spaceless %}
                    <option value="0">Броня</option>
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 2 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
        <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                {% spaceless %}
                    <option value="0">Щиты</option>
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 3 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
        <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                <option value="0">Двигатели</option>
                {% spaceless %}
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 4 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
        <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                {% spaceless %}
                    <option value="0">Генераторы</option>
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 5 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
        <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                {% spaceless %}
                    <option value="0">Оружие</option>
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 6 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
        <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                {% spaceless %}
                    <option value="0">Расходники</option>
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 7 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
        <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                {% spaceless %}
                    <option value="0">Модули</option>
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 8 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
    <form method="post" action="choice_element">
            <p><select name="factory_id" class="building_bottom">
                {% spaceless %}
                    <option value="0">Топливо</option>
                    {% for factory_installed in factory_installeds %}
                        {% if factory_installed.production_class == 14 %}
                            <option value="{{ factory_installed.id }}">{{ factory_installed.name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </select>
                <input class="ok_bottom" type="submit" value="OK"/></p>
        </form>
        <br>
        {% if manufacturing_complexs %}
            <p>Выберите комплекс</p>

            <form method="post" action="choice_complex">
                <p><select name="complex_id" class="building_bottom">
                    <option value="0">Выберите комплекс</option>
                    {% for manufacturing_complex in manufacturing_complexs %}
                        <option value="{{ manufacturing_complex.id }}">{{ manufacturing_complex.name }}</option>
                    {% endfor %}
                </select></p>
                <p><input class="building_bottom" type="submit" value="Выбрать"/></p>
            </form>
        {% endif %}

    </div>
    <div class="factory_right">
        <div class="complex_left">
            {% if complex_id %}
                <h4>Список возможного производства</h4>
                {% for complex_factory in complex_factorys %}
                    {% if complex_factory.production_class == 1 %}
                        {% for hull_pattern in hull_patterns %}
                            {% if hull_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ hull_pattern.name }} </b>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ hull_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id">
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == hull_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if complex_factory.production_class == 2 %}
                        {% for armor_pattern in armor_patterns %}
                            {% if armor_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ armor_pattern.name }} </b>
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == armor_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ armor_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id"></p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if complex_factory.production_class == 3 %}
                        {% for shield_pattern in shield_patterns %}
                            {% if shield_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ shield_pattern.name }} </b>
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == shield_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ shield_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id"></p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if complex_factory.production_class == 4 %}
                        {% for engine_pattern in engine_patterns %}
                            {% if engine_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ engine_pattern.name }} </b>
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == engine_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ engine_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id"></p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if complex_factory.production_class == 5 %}
                        {% for generator_pattern in generator_patterns %}
                            {% if generator_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ generator_pattern.name }} </b>
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == generator_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ generator_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id"></p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if complex_factory.production_class == 6 %}
                        {% for weapon_pattern in weapon_patterns %}
                            {% if weapon_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ weapon_pattern.name }} </b>
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == weapon_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ weapon_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id"></p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if complex_factory.production_class == 7 %}
                        {% for shell_pattern in shell_patterns %}
                            {% if shell_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ shell_pattern.name }} </b>
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == shell_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ shell_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id"></p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if complex_factory.production_class == 8 %}
                        {% for module_pattern in module_patterns %}
                            {% if module_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ module_pattern.name }} </b>
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == module_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ module_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id"></p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if complex_factory.production_class == 14 %}
                        {% for module_pattern in module_patterns %}
                            {% if fuel_pattern.basic_id == complex_factory.production_id %}
                                <form method="GET" action="complex_production">
                                    <p>
                                        <b>{{ fuel_pattern.name }} </b>
                                        <input class="building_bottom" type="submit" value="Начать производство"/>
                                        {% if turn_productions %}
                                            {% for turn_production in turn_productions %}
                                                {% if turn_production.factory_id == complex_factory.id and turn_production.element_id == fuel_pattern.id %}
                                                    <b>Идет производство</b>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <input type="hidden" value={{ complex_factory.id }} name="hidden_factory">
                                    <input type="hidden" value={{ module_pattern.id }} name="hidden_element">
                                    <input type="hidden" value={{ complex_id }} name="complex_id"></p>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            {% else %}
                {% if factory_installed %}
                    <form method="post" action="production">
                        <div style="border: 1px solid #000000; border-top:none;border-right:none; border-left:none; border-radius: 7px; margin-bottom: 10px">
                            {% if turn_productions %}
                                {% for turn_production in turn_productions %}
                                    {% if turn_production.factory_id == factory_installed.id %}
                                        <p> Очередь строительства </p>
                                        <p>{{ turn_production.finish_time_production }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <input class="toggle-box" id="factory{{ factory_installed.id }}" type="checkbox"
                                   align="left">
                            {% for element_pattern in element_patterns %}
                                {% if element_pattern.basic_id == factory_installed.production_id %}
                                    <input class="toggle-box"
                                           id="factory{{ factory_installed.id }}element{{ element_pattern.id }}"
                                           type="checkbox"
                                           align="left">
                                    <label for="factory{{ factory_installed.id }}element{{ element_pattern.id }}"><b>{{ element_pattern.name }}</b>

                                    </label>
                                    <div class="inform_place">

                                        <form method="post" action="production">
                                            <input type="new_name" value="" name="new_name"
                                                   class="scientic_place"
                                                   placeholder="Новое название модуля"/>
                                            <input id="rename" class="scientic" type="submit"
                                                   value="Rename" name="rename_element_pattern"/>
                                            <input type="hidden" id="factory{{ factory_installed.id }}"
                                                   value={{ factory_installed.id }} name="hidden_factory">
                                            <input type="hidden" id="element{{ element_pattern.id }}"
                                                   value={{ element_pattern.id }} name="hidden_element">
                                        </form>

                                        <p class="factory_information">
                                            {% for attribute in attributes %}

                                                {% load my_filter %}
                                                {% if element_pattern|getattribute:attribute != 0 %}
                                                    {{ attribute }}:
                                                    <b>{{ element_pattern|getattribute:attribute }}</b>
                                                    ;
                                                {% endif %}

                                            {% endfor %}
                                        </p>

                                        <form method="post" action="production">
                                            <p>Количество елементов<input type="amount_element" value=""
                                                                          name="amount_element"
                                                                          class="scientic_place"
                                                                          id="amount{{ element_pattern.id }}"
                                                                          placeholder="Количество елементов"/>
                                                <input type="hidden" id="factory{{ factory_installed.id }}"
                                                       value={{ factory_installed.id }} name="hidden_factory">
                                                <input type="hidden" id="element{{ element_pattern.id }}"
                                                       value={{ element_pattern.id }} name="hidden_element">
                                                <input id="amount_element" class="scientic" type="submit"
                                                       value="Create" name="buttom_amount_element"/></p>
                                        </form>

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <input type="hidden" id="factory{{ factory_installed.id }}"
                                   value={{ factory_installed.id }} name="hidden_factory">
                            <input class="scientic" type="submit" value="Disassembling factory"
                                   name="disassembling"/>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>

        <div class="complex_right">
            {% if factory_installed %}
                <h4 style="margin-top: 25px">Склад фабрики</h4>

                <form method="post" action="produce_warehouse">
                    {% for factory_warehouse in factory_warehouses %}
                        <p>
                            {% spaceless %}
                                {% for basic_resource in basic_resources %}
                                    {% if basic_resource.id == factory_warehouse.id_resource %}
                                        <p>{{ basic_resource.name }}: {{ factory_warehouse.amount }}
                                    {% endif %}
                                {% endfor %}
                            {% endspaceless %}
                            </p>
                    {% endfor %}
                    <div>
                        <select name="warehouse_resource" class="complex_botton">
                            <option selected disabled>Choise resource</option>
                            {% spaceless %}
                                {% for warehouse in warehouses %}
                                    {% if warehouse.amount > 0 %}
                                        {% for basic_resource in basic_resources %}
                                            {% if basic_resource.id == warehouse.id_resource %}
                                                <option value="{{ warehouse.id_resource }}">{{ basic_resource.name }}
                                                    ( {{ warehouse.amount }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endspaceless %}
                        </select>
                        <input value="0" name="resource_amount" class="building_place" style="width: 100px"
                               placeholder="Resource amount"/>
                        <input class="building_botton" type="submit" value="Загрузить на склад"/>
                        <input type="hidden" value={{ factory_installed.id }} name="factory_id"></p>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="clear"></div>


{% endblock %}