{% extends "space_forces.html" %}
{% block content_2 %}
    <form method="post" action="fleet_flightplan"
          style="text-align: center; border: 0.3px solid; border-radius: 7px; margin: 3px">
        <table border="1" align="center" style="margin-bottom: 7px">
            <caption><h3 style="text-align: center; margin-bottom: 5px; margin-top: 5px">Список команд</h3></caption>
            <p style="color: red"><i>{{ message }}</i></p>
            <tr align="center">
                <td style="width: 20px"></td>
                <td style="width: 428px">Команда</td>
            </tr>
            <tr align="center">
                <td>
                    <input type="checkbox" name="city" class="flightplan_checkbox">
                </td>
                <td>
                    <p>
                        Перелет к планете
                        <input value="0" name="planet_system" class="coordinate_place"/>
                        <input value="0" name="planet_planet" class="coordinate_place"/>
                    </p>

                    <p>
                        {% if fleet_engine.giper_power != 0 %}
                            Использовать гипер
                            <input type="checkbox" name="planet_giper" class="flightplan_checkbox">
                        {% endif %}
                        {% if fleet_engine.null_power != 0 %}
                            Использовать джамп
                            <input type="checkbox" name="planet_null" class="flightplan_checkbox">
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <input type="checkbox" name="coordinate" class="flightplan_checkbox">
                </td>
                <td>
                    <p>
                        Перелет в координаты
                        <input value="0" name="coordinate_x" class="coordinate_place"/>
                        <input value="0" name="coordinate_y" class="coordinate_place"/>
                        <input value="0" name="coordinate_z" class="coordinate_place"/>
                    </p>

                    <p>
                        {% if fleet_engine.giper_power != 0 %}
                            Использовать гипер
                            <input type="checkbox" name="coordinate_giper" class="flightplan_checkbox">
                        {% endif %}
                        {% if fleet_engine.null_power != 0 %}
                            Использовать джамп
                            <input type="checkbox" name="coordinate_null" class="flightplan_checkbox">
                        {% endif %}
                    </p>
                </td>
            </tr>
            {% if fleet_parametr_resource_extraction %}
                <tr align="center">
                    <td>
                        <input type="checkbox" name="resource_extraction" class="flightplan_checkbox">
                    </td>
                    <td>
                        <p>
                            Добыча ресурсов
                            <input value="60" class="coordinate_place" name="time_extraction"> минут
                            <input type="checkbox" name="full_hold" class="flightplan_checkbox">
                            До полного трюма
                        </p>
                    </td>
                </tr>
            {% endif %}
            {% if fleet_parametr_scans %}
                <tr align="center">
                    <td>
                        <input type="checkbox" name="scan" class="flightplan_checkbox">
                    </td>
                    <td>
                        <p>
                            Сканирование окружения
                            <select name="scaning" class="list_force">
                                <option selected disabled>Scanning method</option>
                                {% for fleet_parametr_scan in fleet_parametr_scans %}
                                    {% if fleet_parametr_scan.method_scanning == 1 %}
                                        <option value="1">Passive scan( {{ fleet_parametr_scan.range_scanning }} )
                                        </option>
                                    {% endif %}
                                    {% if fleet_parametr_scan.method_scanning == 2 %}
                                        <option value="2">Active scan( {{ fleet_parametr_scan.range_scanning }} )
                                        </option>
                                    {% endif %}
                                    {% if fleet_parametr_scan.method_scanning == 3 %}
                                        <option value="3">Giper scan( {{ fleet_parametr_scan.range_scanning }} )
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                    </td>
                </tr>
            {% endif %}
            <tr align="center">
                <td>
                    <input type="checkbox" name="upload_hold" class="flightplan_checkbox">
                </td>
                <td>
                    <p>
                        {% include 'flightplan_templates/upload_element.html' %}
                    </p>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <input type="checkbox" name="unload_hold" class="flightplan_checkbox">
                </td>
                <td>
                    <p> Название
                        {% include 'flightplan_templates/hold_element.html' %}
                        Количество <input type="text" value=""
                                          name="unload_amount" class="fleet_number" placeholder="Количество"/>
                    </p>

                    <p>
                        Выгрузить все<input type="checkbox" name="unload_all" class="flightplan_checkbox">
                        Разгрузить весь трюм<input type="checkbox" name="unload_all_hold" class="flightplan_checkbox">
                    </p>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <input type="checkbox" name="yourself" class="flightplan_checkbox">
                </td>
                <td>
                    <p>
                        Заправится
                        <select name="id_fuel_yourself" class="list_force">
                            <option selected disabled>Топливо</option>
                            {% for warehouse_element in warehouse_elements %}
                                {% if warehouse_element.element_class == 14 %}
                                    {% if warehouse_element.amount > 0 %}
                                        {% for fuel_pattern in fuel_patterns %}
                                            {% if fuel_pattern.id == warehouse_element.element_id %}
                                                <option value="{{ warehouse_element.element_id }}; {{ warehouse_element.element_class }}">{{ fuel_pattern.name }}
                                                    ( {{ warehouse_element.amount }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="text" value="" name="yourself_amount" class="fleet_number"
                               placeholder="Количество"/>
                    </p>
                    <p>
                        <input type="checkbox" name="yourself_full_tank" class="flightplan_checkbox"> До полного
                    </p>
                </td>
            </tr>
            <tr align="center">
                <td>

                    <input type="checkbox" name="refill_fleet" class="flightplan_checkbox">
                </td>
                <td>
                    <p>
                        Заправить флот №
                        <input type="text" value="" name="fleet_number" class="fleet_number" placeholder="Количество"/>
                    </p>

                    <p>
                        <select name="id_fuel" class="list_force">
                            <option selected disabled>Топливо</option>
                            {% for ship_hold in ship_holds %}
                                {% if ship_hold.class_shipment == 14 %}
                                    {% for fuel_pattern in fuel_patterns %}
                                        {% if fuel_pattern.id == ship_hold.id_shipment %}
                                            <option value="{{ ship_hold.id }}">{{ fuel_pattern.name }}
                                                ( {{ ship_hold.amount_shipment }} )
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="text" value="" name="amount" class="fleet_number" placeholder="Количество"/>
                        <input type="checkbox" name="full_tank" class="flightplan_checkbox"> До полного
                    </p>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <input type="checkbox" name="overload" class="flightplan_checkbox"></td>
                <td>
                    <p>
                        Перегрузить
                        {% include 'flightplan_templates/hold_element.html' %}
                        <input type="text" value="" name="overload_amount" class="fleet_number"
                               placeholder="Количество"/>
                    </p>

                    <p>
                        Во флот №
                        <input type="text" value="" name="overload_fleet_number" class="fleet_number"
                               placeholder="Количество"/>
                        <input type="checkbox" name="all_goods" class="flightplan_checkbox"> Весь товар
                    </p>
                </td>
            </tr>
            {% if fleet_parametr_build %}
                <tr align="center">
                    <td>
                        <input type="checkbox" name="build" class="flightplan_checkbox"></td>
                    <td>
                        <p>Начать сборку
                            <select name="id_factory" class="list_force">
                                <option selected disabled>Фабрика</option>
                                {% for ship_hold in ship_holds %}
                                    {% if ship_hold.class_shipment == 10 %}
                                        {% for factory_pattern in factory_patterns %}
                                            {% if factory_pattern.id == ship_hold.id_shipment %}
                                                <option value="{{ ship_hold.id }}">{{ factory_pattern.name }}
                                                    ( {{ ship_hold.amount_shipment }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                    </td>
                </tr>
            {% endif %}
            {% if fleet_parametr_repair %}
                <tr align="center">
                    <td>
                        <input type="checkbox" name="repair" class="flightplan_checkbox"></td>
                    <td>
                        Ремонт флота №<input type="text" value="" name="fleet_number" class="fleet_number"
                                             placeholder="Количество"/>
                        Ремонтировать себя
                        <input type="checkbox" name="repair_yourself" class="flightplan_checkbox"></td>
                    </td>
                </tr>
            {% endif %}

            {% for ship_hold in ship_holds %}
                {% if ship_hold.class_shipment == 9 %}
                    <tr align="center">
                        <td>
                            <input type="checkbox" name="colonization" class="flightplan_checkbox"></td>
                        <td>
                            <p>
                                {% if ship_hold.id_shipment == 1 %}
                                    Колонизировать
                                {% elif ship_hold.id_shipment == 2 %}
                                    Развернуть ядро станции
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
        <input class="button_force" type="submit" value="Add command" name="add_command" style="margin-bottom: 4px"/>

    </form>
    {% if flightplans %}
        <table border="1" align="center" style="margin-bottom: 7px">
            <tr align="center">
                <td style="width: 100px"><p>Действие</p></td>
                <td style="width: 240px"><p>Параметры</p></td>
                <td style="width: 108px"><p>Удалить</p></td>
            </tr>

            <form method="post" action="fleet_flightplan">
                <h3 style="text-align: center">Полетный лист</h3>
                {% for flightplan in flightplans %}
                    {% if flightplan.class_command == 1 %}
                        {% include 'flightplan_templates/flightplan_flight.html' %}
                    {% endif %}

                    {% if flightplan.class_command == 2 %}
                        {% include 'flightplan_templates/flightplan_hold.html' %}
                    {% endif %}

                    {% if flightplan.class_command == 3 %}
                        {% include 'flightplan_templates/flightplan_production.html' %}
                    {% endif %}

                    {% if flightplan.class_command == 4 %}
                        {% include 'flightplan_templates/flightplan_refill.html' %}
                    {% endif %}

                    {% if flightplan.class_command == 5 or flightplan.class_command == 7 %}
                        {% include 'flightplan_templates/flightplan_build_repair.html' %}
                    {% endif %}

                    {% if flightplan.class_command == 6 %}
                        {% include 'flightplan_templates/flightplan_scan.html' %}
                    {% endif %}

                    {% if flightplan.class_command == 8 %}
                        {% include 'flightplan_templates/flightplan_build_repair.html' %}
                    {% endif %}

                {% endfor %}
            </form>
        </table>
        <form method="post" action="start_flight"
              style="text-align: center;  margin-bottom: 20px;">
            <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
            <input class="button_force" type="submit" value="Start flight" name="start_flight"/>
            <input class="button_force" type="submit" value="Delete list" name="delete_list"/>

        </form>
    {% endif %}
{% endblock %}