{% extends "space_forces.html" %}
{% block content_2 %}
    {% if flightplans %}
        <form method="post" action="fleet_flightplan" enctype="multipart/form-data"
              style="text-align: center;  margin-bottom: 3px; border: 1px solid; border-radius: 7px;">
            <h3 style="text-align: center">Полетный лист</h3>
            {% for flightplan in flightplans %}
                {% if flightplan.class_command == 1 %}
                    {% for flightplan_flight in flightplan_flights %}
                        {% if flightplan_flight.id_fleetplan == flightplan.id %}
                            <div class="fleet" style="text-align: center">
                                <p>Перелет в точку {{ flightplan_flight.finish_x }}
                                    : {{ flightplan_flight.finish_y }}
                                    : {{ flightplan_flight.finish_z }}
                                    <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
                                    <input type="hidden"
                                           value={{ flightplan.id }} name="hidden_flightplan_id"/>
                                    <input class="scientic" type="submit" value="Delete command"
                                           name="delete_command"/>
                                </p>

                                <p>Status:
                                    {% if flightplan.status == 0 %}
                                        stand by
                                    {% else %}
                                        prosecution
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}

                {% endif %}

            {% endfor %}
        </form>
        <form method="post" action="start_flight" enctype="multipart/form-data"
              style="text-align: center;  margin-bottom: 20px;">
            <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
            <input class="scientic" type="submit" value="Start flight" name="start_flight"/>
            <input class="scientic" type="submit" value="Delete list" name="delete_list"/>

        </form>
    {% endif %}

    <form method="post" action="fleet_flightplan" style="text-align: center; border: 1px solid; border-radius: 7px;">
        <h3 style="text-align: center">Список команд</h3>

        <p>
            <input type="checkbox" name="city" class="coordinate_checkbox">
            Перелет к планете
            <input value="0" name="planet_system" class="coordinate_place"/>
            <input value="0" name="planet_planet" class="coordinate_place"/>
        </p>

        <p>
            {% if fleet.giper_power != 0 %}
                Использовать гипер
                <input type="checkbox" name="planet_giper" class="coordinate_checkbox">
            {% endif %}
            {% if fleet.null_power != 0 %}
                Использовать джамп
                <input type="checkbox" name="planet_null" class="coordinate_checkbox">
            {% endif %}
        </p>


        <p>
            <input type="checkbox" name="coordinate" class="coordinate_checkbox">
            Перелет в координаты
            <input value="0" name="coordinate_x" class="coordinate_place"/>
            <input value="0" name="coordinate_y" class="coordinate_place"/>
            <input value="0" name="coordinate_z" class="coordinate_place"/>
        </p>

        <p>
            Системные координаты
            <input value="0" name="coordinate_system" class="coordinate_place"/>
            Межсистемные координаты
            <input type="checkbox" name="coordinate_intersystem" class="coordinate_checkbox">
        </p>

        <p>
            {% if fleet.giper_power != 0 %}
                Использовать гипер
                <input type="checkbox" name="planet_giper" class="coordinate_checkbox">
            {% endif %}
            {% if fleet.null_power != 0 %}
                Использовать джамп
                <input type="checkbox" name="planet_null" class="coordinate_checkbox">
            {% endif %}
        </p>

        <p>
            {% if fleet_parametr.passive_scan != 0 or fleet_parametr.active_scan != 0 or fleet_parametr.giper_scan != 0 %}
                <input type="checkbox" name="scan" class="coordinate_checkbox">
                Сканирование окружения
                <select name="scaning" class="scientic">
                    <option selected disabled>Scanning method</option>
                    {% if fleet_parametr.passive_scan != 0 %}
                        <option value="1">Passive scan( {{ fleet_parametr.passive_scan }} )</option>
                    {% endif %}
                    {% if fleet_parametr.active_scan != 0 %}
                        <option value="2">Active scan( {{ fleet_parametr.active_scan }} )</option>
                    {% endif %}
                    {% if fleet_parametr.giper_scan != 0 %}
                        <option value="3">Giper scan( {{ fleet_parametr.giper_scan }} )</option>
                    {% endif %}
                </select>
            {% endif %}
        </p>


        <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
        <input class="scientic" type="submit" value="Add command" name="add_command"/>


    </form>
{% endblock %}