{% extends "space_forces.html" %}
{% block content_3 %}

    {% spaceless %}
        {% if fuel_tanks %}
            {% for fuel_tank in fuel_tanks %}
                <form method="post" action="unload_fuel" style="text-align: center">
                    <p>
                        {{ fuel_tank.fuel_pattern.element_name }} ( {{ fuel_tank.amount_fuel }}
                        / {{ fuel_tank.mass_fuel }} / {{ fuel_tank.size_fuel }} )
                        <input value="0" name="amount_fuel"
                               class="number_ship">
                        <input class="list_force" type="submit" value="Выгрузить" name="unload"/>
                        <input type="hidden" id="fuel_id" value={{ fuel_tank.id }} name="hidden_fuel"/>
                        <input type="hidden" id="fleet_id" value={{ fleet_id }} name="hidden_fleet"/>
                    </p>
                </form>
            {% endfor %}
            <p>
            <form method="post" action="unload_fuel_all">
                <input class="list_force" type="submit" value="Выгрузить все" name="unload_fuel_all"/></p>
                <input type="hidden" id="fleet_id" value={{ fleet_id }} name="hidden_fleet"/>
            </form>
        {% endif %}
    {% endspaceless %}

    {% spaceless %}
        <form method="post" action="fuel_tank" style="text-align: center">
            <p>Управление топливними баками</p>
            <input type="hidden" id="fleet_id" value={{ fleet_id }} name="hidden_fleet"/>

            {% spaceless %}
                {% if warehouse_elements %}
                    <div>
                        Fuel in warehouse
                        <select name="fuel_pattern" class="list_force">
                            <option selected disabled>Топливо</option>
                            {% for warehouse_element in warehouse_elements %}
                                {% if warehouse_element.amount > 0 %}
                                    {% for fuel_pattern in fuel_patterns %}
                                        {% if fuel_pattern.id == warehouse_element.element_id %}
                                            <option value="{{ warehouse_element.element_id }}">{{ fuel_pattern.element_name }}(
                                                {{ warehouse_element.amount }} )
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            {% endfor %}
                        </select>

                        <input value="0" name="fuel_amount" class="number_ship" placeholder="Fuel amount"/>
                    </div>
                    <input class="list_force" type="submit" value="Загрузить" name="add_shipment"/>
                {% endif %}
            {% endspaceless %}


        </form>
    {% endspaceless %}

{% endblock %}