{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="content-type" content=text/html; charset="UTF-8">
    <title>Главная страница приложения</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
<!-- header -->
<div id="logo" align="center"></div>
<div id="header"></div>

<div>
    <div id="menu">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">О игре</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Справка</a></li>
            <li><a href="#">Форум</a></li>
        </ul>
    </div>
</div>
<!--end header -->
<!-- main -->
<div id="content">
    <div>
        <div id="index_center">
            <h3>
                Новости
            </h3>

            <p>Набір символів у квадратних дужках [ ] іменується символьним класом і дозволяє вказати інтерпретаторові
                регулярних виразів, що на даному місці в рядку може стояти один із перерахованих символів. Зокрема,
                [абв] задає можливість появи в тексті одного із трьох зазначених символів, а [1234567890] задає
                відповідність одній із цифр. Можливе зазначення діапазонів символів: наприклад, [А-Яа-я] відповідає всім
                літерам російського алфавіту, за винятком літер «Ё» і «ё».[1]

                Якщо потрібно вказати символи, які не входять у зазначений набір, то використовують символ ^ усередині
                квадратних дужок, наприклад, [^0-9] означає будь-який символ, крім цифр.

                Додавання в набір спеціальних символів шляхом екранування символом «\» — найпростіший спосіб. Однак
                сучасні регулярні вирази успадковують також і традиційний підхід — див. Традиційні регулярні вирази.

                Деякі символьні класи можна замінити спеціальними метасимволами:Набір символів у квадратних дужках [ ] іменується символьним класом і дозволяє вказати інтерпретаторові
                регулярних виразів, що на даному місці в рядку може стояти один із перерахованих символів. Зокрема,
                [абв] задає можливість появи в тексті одного із трьох зазначених символів, а [1234567890] задає
                відповідність одній із цифр. Можливе зазначення діапазонів символів: наприклад, [А-Яа-я] відповідає всім
                літерам російського алфавіту, за винятком літер «Ё» і «ё».[1]

                Якщо потрібно вказати символи, які не входять у зазначений набір, то використовують символ ^ усередині
                квадратних дужок, наприклад, [^0-9] означає будь-який символ, крім цифр.

                Додавання в набір спеціальних символів шляхом екранування символом «\» — найпростіший спосіб. Однак
                сучасні регулярні вирази успадковують також і традиційний підхід — див. Традиційні регулярні вирази.

                Деякі символьні класи можна замінити спеціальними метасимволами:Набір символів у квадратних дужках [ ] іменується символьним класом і дозволяє вказати інтерпретаторові
                регулярних виразів, що на даному місці в рядку може стояти один із перерахованих символів. Зокрема,
                [абв] задає можливість появи в тексті одного із трьох зазначених символів, а [1234567890] задає
                відповідність одній із цифр. Можливе зазначення діапазонів символів: наприклад, [А-Яа-я] відповідає всім
                літерам російського алфавіту, за винятком літер «Ё» і «ё».[1]

                Якщо потрібно вказати символи, які не входять у зазначений набір, то використовують символ ^ усередині
                квадратних дужок, наприклад, [^0-9] означає будь-який символ, крім цифр.

                Додавання в набір спеціальних символів шляхом екранування символом «\» — найпростіший спосіб. Однак
                сучасні регулярні вирази успадковують також і традиційний підхід — див. Традиційні регулярні вирази.

                Деякі символьні класи можна замінити спеціальними метасимволами:Набір символів у квадратних дужках [ ] іменується символьним класом і дозволяє вказати інтерпретаторові
                регулярних виразів, що на даному місці в рядку може стояти один із перерахованих символів. Зокрема,
                [абв] задає можливість появи в тексті одного із трьох зазначених символів, а [1234567890] задає
                відповідність одній із цифр. Можливе зазначення діапазонів символів: наприклад, [А-Яа-я] відповідає всім
                літерам російського алфавіту, за винятком літер «Ё» і «ё».[1]

                Якщо потрібно вказати символи, які не входять у зазначений набір, то використовують символ ^ усередині
                квадратних дужок, наприклад, [^0-9] означає будь-який символ, крім цифр.

                Додавання в набір спеціальних символів шляхом екранування символом «\» — найпростіший спосіб. Однак
                сучасні регулярні вирази успадковують також і традиційний підхід — див. Традиційні регулярні вирази.

                Деякі символьні класи можна замінити спеціальними метасимволами:</p>
        </div>
        <div id="index_right">

            <h3> Вход </h3>
            <form method="POST" action="auth" enctype="multipart/form-data">
                <div>
                    <label for="name">Login</label>
                    <input type="text" value=""
                           name="name" class="scientic_place"
                           placeholder="login"/>
                </div>
                <br>
                <div>
                    <label for="pass">password</label>
                    <input type="password" value=""
                           name="pass" class="scientic_place"
                           placeholder="password"/>
                    <br>
                    <br>
                    <div>
                        <input type="submit" value="OK" class="scientic" name="add_button"/>
                    </div>
                    <p>Забыли пароль?</p>
                </div>
            </form>

            <form method="POST" action="{% url 'account.registration' %}">
                <div>
                    <button type="submit" class="scientic" name="registration">Регистрация</button>
                    <br>
                    <br>
                </div>
            </form>
        </div>
        <div id="index_right">
            <br>
            <p>Тут будут рейтинги</p>
            <br>
            <br>


        </div>

    </div>


</div>
<!-- end main -->
<!-- footer -->
<div id="footer">
    <div id="left_footer">&copy; Copyright 2015 <b>CRROTA</b> design</div>
    <div id="right_footer">

        Design by <b>CRROTA</b> Software

    </div>
</div>
<!-- end footer -->
</body>
</html>

