{% extends "base.html" %}
{% block title %}Проектирование кораблей{% endblock %}
{% block content %}
    <div id="game_content">
        <div id="block_design_left">


            <p style="text-align: center; color: rgb(152, 32, 32);text-decoration: underline;font-style: italic;"> {{ message }}</p>

            <h3> Будут добавлены характеристики проектов. Старого и нового. Для сравнения</h3>
        </div>
        <div id="block_design_right">

            <div id="block_design_up" style="height: 100%">

                <form method="POST" action="choise_project">
                    <p> Choise new project
                        <select name="new_ship_id" class="scientic">
                            <option selected disabled>Choise project</option>
                            {% for ship_pattern in ship_patterns %}
                                <option value="{{ ship_pattern.id }}"> {{ ship_pattern.name }} </option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="{{ modificate_ship_id }}"
                               value={{ modificate_ship_id }} name="modificate_ship_id">
                        <input type="hidden" id="{{ ship_amount }}"
                               value={{ ship_amount }} name="ship_amount">

                        <input class="scientic" type="submit" value="Use" name="Use_project"/>
                    </p>
                </form>

                <form method="POST" action="modificate_ship_action">
                    <div class="design_tabs">
                        {{ massage_error }}
                        <input type="hidden" id="{{ modificate_ship_id }}"
                               value={{ modificate_ship_id }} name="modificate_ship_id">
                        <input type="hidden" id="{{ new_ship_id }}"
                               value="{{ new_ship_id }}" name="new_ship_id">
                        <input type="hidden" id="{{ ship_amount }}"
                               value={{ ship_amount }} name="ship_amount">
                        <ul>
                            <li>
                                <input type="radio" name="design_tabs-0" checked="checked" id="design_tabs-0-0"/>
                                <label for="design_tabs-0-0">Armor</label>

                                <div>
                                    <h3>Compare the parameters of elements</h3>

                                    <h3>Armor element</h3>

                                    {% for modificate_ship_element in modificate_ship_elements %}
                                        {% if modificate_ship_element.class_element == 2 %}
                                            {% for armor in armors %}
                                                {% if armor.id == modificate_ship_element.id_element_pattern %}
                                                    <h3> {{ armor.name }} ( {{ armor.value_energy_resistance }}
                                                        / {{ armor.value_phisical_resistance }}
                                                        / {{ armor.regeneration }}
                                                        ) - елемент размещен
                                                        {% if modificate_ship_element.position == 1 %}
                                                            вверху корабля
                                                        {% elif modificate_ship_element.position == 2 %}
                                                            на корме корабля
                                                        {% elif modificate_ship_element.position == 3 %}
                                                            по левому борту
                                                        {% elif modificate_ship_element.position == 4 %}
                                                            по правому борту
                                                        {% elif modificate_ship_element.position == 5 %}
                                                            спереди корабля
                                                        {% elif modificate_ship_element.position == 6 %}
                                                            внизу корабля
                                                        {% elif modificate_ship_element.position == 0 %}
                                                            внутри корабля
                                                        {% endif %}
                                                    </h3>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if new_ship_id %}
                                        <h3>New armor element</h3>

                                        {% for new_ship_element in new_ship_elements %}
                                            {% if new_ship_element.class_element == 2 %}
                                                {% for armor in armors %}
                                                    {% if armor.id == new_ship_element.id_element_pattern %}
                                                        <h3> {{ armor.name }} ( {{ armor.value_energy_resistance }}
                                                            / {{ armor.value_phisical_resistance }}
                                                            / {{ armor.regeneration }}
                                                            ) - елемент размещен
                                                            {% if new_ship_element.position == 1 %}
                                                                вверху корабля
                                                            {% elif new_ship_element.position == 2 %}
                                                                на корме корабля
                                                            {% elif new_ship_element.position == 3 %}
                                                                по левому борту
                                                            {% elif new_ship_element.position == 4 %}
                                                                по правому борту
                                                            {% elif new_ship_element.position == 5 %}
                                                                спереди корабля
                                                            {% elif new_ship_element.position == 6 %}
                                                                внизу корабля
                                                            {% elif new_ship_element.position == 0 %}
                                                                внутри корабля
                                                            {% endif %}
                                                        </h3>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-1"/>
                                <label for="design_tabs-0-1">Shield</label>

                                <div>
                                    <h3>Compare the parameters of elements</h3>

                                    <h3>Shield element</h3>
                                    {% for modificate_ship_element in modificate_ship_elements %}
                                        {% if modificate_ship_element.class_element == 3 %}
                                            {% for shield in shields %}
                                                {% if shield.id == modificate_ship_element.id_element_pattern %}
                                                    <h3> {{ shield.name }} ( {{ shield.value_energy_resistance }}
                                                        / {{ shield.value_phisical_resistance }}
                                                        / {{ shield.regeneration }}
                                                        ) - елемент размещен
                                                        {% if modificate_ship_element.position == 1 %}
                                                            вверху корабля
                                                        {% elif modificate_ship_element.position == 2 %}
                                                            на корме корабля
                                                        {% elif modificate_ship_element.position == 3 %}
                                                            по левому борту
                                                        {% elif modificate_ship_element.position == 4 %}
                                                            по правому борту
                                                        {% elif modificate_ship_element.position == 5 %}
                                                            спереди корабля
                                                        {% elif modificate_ship_element.position == 6 %}
                                                            внизу корабля
                                                        {% elif modificate_ship_element.position == 0 %}
                                                            внутри корабля
                                                        {% endif %}
                                                    </h3>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if new_ship_id %}
                                        <h3>New shield element</h3>

                                        {% for new_ship_element in new_ship_elements %}
                                            {% if new_ship_element.class_element == 3 %}
                                                {% for shield in shields %}
                                                    {% if shield.id == new_ship_element.id_element_pattern %}
                                                        <h3> {{ shield.name }} ( {{ shield.value_energy_resistance }}
                                                            / {{ shield.value_phisical_resistance }}
                                                            / {{ shield.regeneration }}
                                                            ) - елемент размещен
                                                            {% if new_ship_element.position == 1 %}
                                                                вверху корабля
                                                            {% elif new_ship_element.position == 2 %}
                                                                на корме корабля
                                                            {% elif new_ship_element.position == 3 %}
                                                                по левому борту
                                                            {% elif new_ship_element.position == 4 %}
                                                                по правому борту
                                                            {% elif new_ship_element.position == 5 %}
                                                                спереди корабля
                                                            {% elif new_ship_element.position == 6 %}
                                                                внизу корабля
                                                            {% elif new_ship_element.position == 0 %}
                                                                внутри корабля
                                                            {% endif %}
                                                        </h3>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-2"/>
                                <label for="design_tabs-0-2">Engine</label>

                                <div>
                                    <h3>Select engine side to fit on the body</h3>
                                    {% for modificate_ship_element in modificate_ship_elements %}
                                        {% if modificate_ship_element.class_element == 4 %}
                                            {% for engine in engines %}
                                                {% if engine.id == modificate_ship_element.id_element_pattern %}
                                                    <h3> {{ engine.name }} ( {{ engine.system_power }}
                                                        / {{ engine.intersystem_power }} / {{ engine.giper_power }}
                                                        / {{ engine.nullT_power }}) - елемент размещен
                                                        {% if modificate_ship_element.position == 1 %}
                                                            вверху корабля
                                                        {% elif modificate_ship_element.position == 2 %}
                                                            на корме корабля
                                                        {% elif modificate_ship_element.position == 3 %}
                                                            по левому борту
                                                        {% elif modificate_ship_element.position == 4 %}
                                                            по правому борту
                                                        {% elif modificate_ship_element.position == 5 %}
                                                            спереди корабля
                                                        {% elif modificate_ship_element.position == 6 %}
                                                            внизу корабля
                                                        {% elif modificate_ship_element.position == 0 %}
                                                            внутри корабля
                                                        {% endif %}
                                                    </h3>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if new_ship_id %}
                                        <h3>New engine element</h3>

                                        {% for new_ship_element in new_ship_elements %}
                                            {% if new_ship_element.class_element == 4 %}
                                                {% for engine in engines %}
                                                    {% if engine.id == new_ship_element.id_element_pattern %}
                                                        <h3> {{ engine.name }} ( {{ engine.system_power }}
                                                            / {{ engine.intersystem_power }} / {{ engine.giper_power }}
                                                            / {{ engine.nullT_power }}
                                                            ) - елемент размещен
                                                            {% if new_ship_element.position == 1 %}
                                                                вверху корабля
                                                            {% elif new_ship_element.position == 2 %}
                                                                на корме корабля
                                                            {% elif new_ship_element.position == 3 %}
                                                                по левому борту
                                                            {% elif new_ship_element.position == 4 %}
                                                                по правому борту
                                                            {% elif new_ship_element.position == 5 %}
                                                                спереди корабля
                                                            {% elif new_ship_element.position == 6 %}
                                                                внизу корабля
                                                            {% elif new_ship_element.position == 0 %}
                                                                внутри корабля
                                                            {% endif %}
                                                        </h3>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-3"/>
                                <label for="design_tabs-0-3">Generator</label>

                                <div>
                                    <h3>Select generator side to fit on the body</h3>
                                    {% for modificate_ship_element in modificate_ship_elements %}
                                        {% if modificate_ship_element.class_element == 5 %}
                                            {% for generator in generators %}
                                                {% if generator.id == modificate_ship_element.id_element_pattern %}
                                                    <h3> {{ generator.name }} ( {{ generator.produced_energy }}
                                                        / {{ generator.fuel_necessary }}) - елемент размещен
                                                        {% if modificate_ship_element.position == 1 %}
                                                            вверху корабля
                                                        {% elif modificate_ship_element.position == 2 %}
                                                            на корме корабля
                                                        {% elif modificate_ship_element.position == 3 %}
                                                            по левому борту
                                                        {% elif modificate_ship_element.position == 4 %}
                                                            по правому борту
                                                        {% elif modificate_ship_element.position == 5 %}
                                                            спереди корабля
                                                        {% elif modificate_ship_element.position == 6 %}
                                                            внизу корабля
                                                        {% elif modificate_ship_element.position == 0 %}
                                                            внутри корабля
                                                        {% endif %}
                                                    </h3>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if new_ship_id %}
                                        <h3>New generator element</h3>

                                        {% for new_ship_element in new_ship_elements %}
                                            {% if new_ship_element.class_element == 5 %}
                                                {% for generator in generators %}
                                                    {% if generator.id == new_ship_element.id_element_pattern %}
                                                        <h3> {{ generator.name }}
                                                            ( {{ generator.produced_energy }}
                                                            / {{ generator.fuel_necessary }}
                                                            ) - елемент размещен
                                                            {% if new_ship_element.position == 1 %}
                                                                вверху корабля
                                                            {% elif new_ship_element.position == 2 %}
                                                                на корме корабля
                                                            {% elif new_ship_element.position == 3 %}
                                                                по левому борту
                                                            {% elif new_ship_element.position == 4 %}
                                                                по правому борту
                                                            {% elif new_ship_element.position == 5 %}
                                                                спереди корабля
                                                            {% elif new_ship_element.position == 6 %}
                                                                внизу корабля
                                                            {% elif new_ship_element.position == 0 %}
                                                                внутри корабля
                                                            {% endif %}
                                                        </h3>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-4"/>
                                <label for="design_tabs-0-4">Weapon</label>

                                <div>
                                    <h3>Select weapon side to fit on the body</h3>
                                    {% for modificate_ship_element in modificate_ship_elements %}
                                        {% if modificate_ship_element.class_element == 6 %}
                                            {% for weapon in weapons %}
                                                {% if weapon.id == modificate_ship_element.id_element_pattern %}
                                                    <h3> {{ weapon.name }}
                                                        {% if weapon.energy_damage %}
                                                            ( {{ weapon.energy_damage }}
                                                            / {{ weapon.regenerations }} )
                                                        {% else %}
                                                            ( {{ weapon.number_of_bursts }} )
                                                        {% endif %}
                                                        - елемент размещен
                                                        {% if modificate_ship_element.position == 1 %}
                                                            вверху корабля
                                                        {% elif modificate_ship_element.position == 2 %}
                                                            на корме корабля
                                                        {% elif modificate_ship_element.position == 3 %}
                                                            по левому борту
                                                        {% elif modificate_ship_element.position == 4 %}
                                                            по правому борту
                                                        {% elif modificate_ship_element.position == 5 %}
                                                            спереди корабля
                                                        {% elif modificate_ship_element.position == 6 %}
                                                            внизу корабля
                                                        {% elif modificate_ship_element.position == 0 %}
                                                            внутри корабля
                                                        {% endif %}
                                                    </h3>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if new_ship_id %}
                                        <h3>New weapon element</h3>

                                        {% for new_ship_element in new_ship_elements %}
                                            {% if new_ship_element.class_element == 6 %}
                                                {% for weapon in weapons %}
                                                    {% if weapon.id == new_ship_element.id_element_pattern %}
                                                        <h3> {{ weapon.name }}
                                                            {% if weapon.energy_damage %}
                                                                ( {{ weapon.energy_damage }}
                                                                / {{ weapon.regenerations }} )
                                                            {% else %}
                                                                ( {{ weapon.number_of_bursts }} )
                                                            {% endif %}
                                                            - елемент размещен
                                                            {% if new_ship_element.position == 1 %}
                                                                вверху корабля
                                                            {% elif new_ship_element.position == 2 %}
                                                                на корме корабля
                                                            {% elif new_ship_element.position == 3 %}
                                                                по левому борту
                                                            {% elif new_ship_element.position == 4 %}
                                                                по правому борту
                                                            {% elif new_ship_element.position == 5 %}
                                                                спереди корабля
                                                            {% elif new_ship_element.position == 6 %}
                                                                внизу корабля
                                                            {% elif new_ship_element.position == 0 %}
                                                                внутри корабля
                                                            {% endif %}
                                                        </h3>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-5"/>
                                <label for="design_tabs-0-5">Main weapon</label>

                                <div>
                                    <h3>Select main weapon side to fit on the body</h3>
                                    {% for modificate_ship_element in modificate_ship_elements %}
                                        {% if modificate_ship_element.class_element == 6 %}
                                            {% for weapon in weapons %}
                                                {% if weapon.id == modificate_ship_element.id_element_pattern %}
                                                    <h3> {{ weapon.name }}
                                                        {% if weapon.energy_damage %}
                                                            ( {{ weapon.energy_damage }}
                                                            / {{ weapon.regenerations }} )
                                                        {% else %}
                                                            ( {{ weapon.number_of_bursts }} )
                                                        {% endif %} - елемент размещен
                                                        {% if modificate_ship_element.position == 1 %}
                                                            вверху корабля
                                                        {% elif modificate_ship_element.position == 2 %}
                                                            на корме корабля
                                                        {% elif modificate_ship_element.position == 3 %}
                                                            по левому борту
                                                        {% elif modificate_ship_element.position == 4 %}
                                                            по правому борту
                                                        {% elif modificate_ship_element.position == 5 %}
                                                            спереди корабля
                                                        {% elif modificate_ship_element.position == 6 %}
                                                            внизу корабля
                                                        {% elif modificate_ship_element.position == 0 %}
                                                            внутри корабля
                                                        {% endif %}
                                                    </h3>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if new_ship_id %}
                                        <h3>New weapon element</h3>

                                        {% for new_ship_element in new_ship_elements %}
                                            {% if new_ship_element.class_element == 6 %}
                                                {% for weapon in weapons %}
                                                    {% if weapon.id == new_ship_element.id_element_pattern %}
                                                        <h3> {{ weapon.name }}
                                                            {% if weapon.energy_damage %}
                                                                ( {{ weapon.energy_damage }}
                                                                / {{ weapon.regenerations }} )
                                                            {% else %}
                                                                ( {{ weapon.number_of_bursts }} )
                                                            {% endif %}
                                                            - елемент размещен
                                                            {% if new_ship_element.position == 1 %}
                                                                вверху корабля
                                                            {% elif new_ship_element.position == 2 %}
                                                                на корме корабля
                                                            {% elif new_ship_element.position == 3 %}
                                                                по левому борту
                                                            {% elif new_ship_element.position == 4 %}
                                                                по правому борту
                                                            {% elif new_ship_element.position == 5 %}
                                                                спереди корабля
                                                            {% elif new_ship_element.position == 6 %}
                                                                внизу корабля
                                                            {% elif new_ship_element.position == 0 %}
                                                                внутри корабля
                                                            {% endif %}
                                                        </h3>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </li>
                            <li>
                                <input type="radio" name="design_tabs-0" id="design_tabs-0-6"/>
                                <label for="design_tabs-0-6">Module</label>

                                <div>
                                    <h3>Select module side to fit on the body</h3>
                                    {% for modificate_ship_element in modificate_ship_elements %}
                                        {% if modificate_ship_element.class_element == 8 %}
                                            {% for module in modules %}
                                                {% if module.id == modificate_ship_element.id_element_pattern %}
                                                    <h3> {{ module.name }} ( {{ module.param1 }}
                                                        / {{ module.param2 }} / {{ module.param3 }}) - елемент размещен
                                                        {% if modificate_ship_element.position == 1 %}
                                                            вверху корабля
                                                        {% elif modificate_ship_element.position == 2 %}
                                                            на корме корабля
                                                        {% elif modificate_ship_element.position == 3 %}
                                                            по левому борту
                                                        {% elif modificate_ship_element.position == 4 %}
                                                            по правому борту
                                                        {% elif modificate_ship_element.position == 5 %}
                                                            спереди корабля
                                                        {% elif modificate_ship_element.position == 6 %}
                                                            внизу корабля
                                                        {% elif modificate_ship_element.position == 0 %}
                                                            внутри корабля
                                                        {% endif %}
                                                    </h3>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if new_ship_id %}
                                        <h3>New module element</h3>

                                        {% for new_ship_element in new_ship_elements %}
                                            {% if new_ship_element.class_element == 8 %}
                                                {% for module in modules %}
                                                    {% if module.id == new_ship_element.id_element_pattern %}
                                                        <h3> {{ module.name }} ( {{ module.param1 }}
                                                            / {{ module.param2 }} / {{ module.param3 }}
                                                            ) - елемент размещен
                                                            {% if new_ship_element.position == 1 %}
                                                                вверху корабля
                                                            {% elif new_ship_element.position == 2 %}
                                                                на корме корабля
                                                            {% elif new_ship_element.position == 3 %}
                                                                по левому борту
                                                            {% elif new_ship_element.position == 4 %}
                                                                по правому борту
                                                            {% elif new_ship_element.position == 5 %}
                                                                спереди корабля
                                                            {% elif new_ship_element.position == 6 %}
                                                                внизу корабля
                                                            {% elif new_ship_element.position == 0 %}
                                                                внутри корабля
                                                            {% endif %}
                                                        </h3>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}


                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <input class="scientic" type="submit" value="OK" name="create_ship_pattern"/>
                        <button class="scientic" type="submit" name="cancel_button" action="cancel">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}