{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="content-type" content=text/html; charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static 'js/button.js' %}"></script>

</head>
<body id="inside">

<div id="logo" align="center"></div>
<div id="header_inside"></div>
<div id="block_content">
    <div id="left_menu">
        <form method="post" enctype="multipart/form-data" action="index/">
            <div>
                <button class="scientic" type="submit" name="index">Index</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="news">
            <div>
                <button class="scientic" type="submit" name="news">News</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="about_us">
            <div>
                <button class="scientic" type="submit" name="about_us">About_us</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="gallery">
            <div>
                <button class="scientic" type="submit" name="gallery">Gallery</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="inform">
            <div>
                <button class="scientic" type="submit" name="inform">Infomation</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="forum">
            <div>
                <button class="scientic" type="submit" name="forum">Forum</button>
            </div>
        </form>

    </div>

    <div id="game_content">
        <div class="game_content_left" style="text-align: center">
            <h3>
                Регистрация нового пользователя
            </h3>

            <p> Все поля обязательны для заполнения</p>

            <form method="post" action="{% url 'account.add_user' %}"
                  enctype="multipart/form-data">
                <div>
                    <label for="name">Игровое имя пользователя</label>
                    <input type="text" value=""
                           name="name" class="scientic_place"
                           placeholder="login"/>

                </div>
                <br>

                <div>
                    <label for="pass">Пароль пользователя</label>
                    <input type="password" value=""
                           name="pass" class="scientic_place"
                           placeholder="password"/>
                </div>
                <br>


                <div>
                    <label for="mail">E-mail</label>
                    <input type="email" value=""
                           name="mail" class="scientic_place"
                           placeholder="E-mail"/>
                </div>

                <br>

                <div>
                    <label for="rac">Игровая расса</label>
                    <select name="rac" class="scientic">
                        <option value="" selected>Выберите рассу</option>
                        {% for race in races %}
                            <option value="{{ race.id }}">{{ race.race_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>

                <div>
                    <input type="submit" value="Подтверждение" name="add_button" class="scientic"/>
                    <button type="submit" name="cancel_button" action="cancel" class="scientic">Отмена</button>
                </div>
            </form>


        </div>

        <div class="game_content_right">Шо нибуть, когда нибуть напишем</div>

        <div class="clear"></div>
    </div>
    <div id="footer">
        <div id="left_footer">&copy; Copyright 2015 <b>CRROTA</b> design</div>
        <div id="right_footer"> Design by <b>CRROTA</b> Software</div>
    </div>
    <!-- end footer -->
</div>
</body>

</html>


