{% extends "base.html" %}
{% block title %}ВКС{% endblock %}
{% block content %}
    <div id="game_content">
        <div id="block_design_left">
            <form method="post" action="fleet_manage" style="text-align: center">
                <input value="" name="fleet_name" class="scientic_place"
                       placeholder="Fleet name"/>
                <input class="scientic" type="submit" value="New fleet" name="create_fleet"/>
            </form>
            <form method="post" action="modificate_ship" style="text-align: center">
                {% if ships %}
                    {% for ship in ships %}
                        <p style="margin-top: 6px">
                            {{ ship.name }} ( {{ ship.amount_ship }} )
                            <input type="hidden" id="ship_id_{{ ship.id }}"
                                   value={{ ship.id_project_ship }} name="hidden_ship_id"/>

                            <input type="hidden" id="{{ ship.amount_ship }}"
                                   value="{{ ship.amount_ship }}" name="hidden_amount_ship"/>

                            <input value="" name="amount_ship" class="scientic_place"
                                   placeholder="Amount ship"/>
                            <input class="scientic" type="submit" value="Modification" name="modificate_ship"/>
                            <input class="scientic" type="submit" value="Disassemble" name="disassemble_ship"/>
                        </p>
                    {% endfor %}
                {% endif %}

            </form>

            {% for user_fleet in user_fleets %}
                <form method="post" action="fleet_manage" style="text-align: center">
                    <div class="fleet">
                        <p>{{ user_fleet.name }}</p>

                        <p>
                            Status:
                            {% if user_fleet.status == 0 %}
                                Waiting
                            {% else %}
                                Working
                            {% endif %}
                        </p>

                        <p>
                            Coordinate: {{ user_city.name_city }} - ({{ user_fleet.x }} : {{ user_fleet.y }}
                            : {{ user_fleet.z }})
                        </p>
                        {% for ship_fleet in ship_fleets %}
                            {% if ship_fleet.place_id == user_fleet.id %}
                                {{ ship_fleet.name }} : {{ ship_fleet.amount_ship }}
                            {% endif %}
                        {% endfor %}

                        <p>
                            <input class="scientic" type="submit" value="Navy ships" name="navy_ships"/>
                            <input class="scientic" type="submit" value="The hold of the fleet" name="hold_fleet"/>
                            <input class="scientic" type="submit" value="Flight plan" name="flight_plan"/>
                            <input type="hidden" id="user_fleet{{ user_fleet.id }}"
                                   value={{ user_fleet.id }} name="hidden_fleet"/>
                        </p>

                        <p>
                            <input class="scientic" type="submit" value="Delete fleet" name="delete_fleet"
                                   style="margin-top: 5px"/>
                            <input type="hidden" id="user_fleet{{ user_fleet.id }}"
                                   value={{ user_fleet.id }} name="hidden_fleet"/>
                        </p>

                    </div>
                </form>
            {% endfor %}
        </div>
        <div id="block_design_right">
            <h3 style="text-align: center">Панель управления флотом </h3>
            {% if command == 1 %}

                <form method="post" action="add_ship" style="text-align: center">
                    {% if add_ships %}
                        {% for add_ship in add_ships %}<p></p>
                            {{ add_ship.name }} ( {{ add_ship.amount_ship }} )
                            <input value="0" name="amount_ship" class="scientic_place"
                                   placeholder="Amount ship"/>
                            <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
                            <input type="hidden" value={{ add_ship.id }} name="hidden_ship"/>
                            <input class="scientic" type="submit" value="Добавить" name="add_ship"/></p>
                        {% endfor %}
                    {% endif %}
                </form>
                <form method="post" action="delete_ship" style="text-align: center">
                    {% if ship_fleets %}
                        {% for ship_fleet in ship_fleets %}
                            {% if ship_fleet.fleet_status == 1 and ship_fleet.place_id == fleet_id %}
                                {{ ship_fleet.name }} ( {{ ship_fleet.amount_ship }} )
                                <input value="" name="amount_ship" class="scientic_place"
                                       placeholder="Amount ship"/>
                                <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
                                <input type="hidden" value={{ ship_fleet.id_project_ship }} name="hidden_del_ship"/>
                                <input class="scientic" type="submit" value="Убрать из флота" name="del_ship"/>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            {% endif %}
            {% if command == 2 %}
                {% block content_1 %}{% endblock %}
            {% endif %}
            {% if command == 3 %}
                {% block content_2 %}{% endblock %}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}