{% extends "base.html" %}
{% block title %}ВКС{% endblock %}
{% block content %}
    <div id="game_content">
        <div id="block_design_left">
            <form method="post" action="fleet_manage" enctype="multipart/form-data" style="text-align: center">
                <input value="" name="fleet_name" class="scientic_place"
                       placeholder="Fleet name"/>
                <input class="scientic" type="submit" value="New fleet" name="create_fleet"/>

                <p style="margin-top: 6px">
                    {% if ships %}
                        {% for ship in ships %}
                            {{ ship.name }} ( {{ ship.amount_ship }} )
                        {% endfor %}
                    {% endif %}
                </p>
            </form>
            {% for user_fleet in user_fleets %}
                <form method="post" action="fleet_manage" enctype="multipart/form-data" style="text-align: center">
                    <div class="fleet">
                        <p>{{ user_fleet.name }}</p>

                        <p>
                            Coordinate: {{ user_city.name_city }} - ({{ user_fleet.x }} : {{ user_fleet.y }}
                            : {{ user_fleet.z }})
                        </p>
                        {% for ship_fleet in ship_fleets %}
                            {% if ship_fleet.place_id == user_fleet.id %}
                                {{ ship_fleet.name }} : {{ ship_fleet.amount_ship }}
                            {% endif %}
                        {% endfor %}

                        <p>
                            <input class="scientic" type="submit" value="Navy ships" name="navy_ships"/>
                            <input class="scientic" type="submit" value="The hold of the fleet" name="hold_fleet"/>
                            <input class="scientic" type="submit" value="Flight plan" name="flight_plan"/>
                            <input type="hidden" id="user_fleet{{ user_fleet.id }}"
                                   value={{ user_fleet.id }} name="hidden_fleet"/>
                        </p>

                        <p>
                            <input class="scientic" type="submit" value="Delete fleet" name="delete_fleet"
                                   style="margin-top: 5px"/>
                            <input type="hidden" id="user_fleet{{ user_fleet.id }}"
                                   value={{ user_fleet.id }} name="hidden_fleet"/>
                        </p>

                    </div>
                </form>
            {% endfor %}
        </div>
        <div id="block_design_right">
            <h3 style="text-align: center">Панель управления флотом </h3>

            {% if command == 1 %}

                <form method="post" action="fleet_manage" enctype="multipart/form-data" style="text-align: center">
                    {% if add_ships %}
                        {% for add_ship in add_ships %}
                            {{ add_ship.name }} ( {{ add_ship.amount_ship }} )
                            <input value="" name="amount_ship" class="scientic_place"
                                   placeholder="Amount ship"/>
                            <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
                            <input type="hidden" value={{ add_ship.id }} name="hidden_ship"/>
                            <input class="scientic" type="submit" value="Добавить" name="add_ship"/>
                        {% endfor %}
                    {% endif %}
                </form>
                <form method="post" action="fleet_manage" enctype="multipart/form-data" style="text-align: center">
                    {% if ship_fleets %}
                        {% for ship_fleet in ship_fleets %}
                            {% if ship_fleet.fleet_status == 1 and ship_fleet.place_id == fleet_id %}
                                {{ ship_fleet.name }} ( {{ ship_fleet.amount_ship }} )
                                <input value="" name="amount_ship" class="scientic_place"
                                       placeholder="Amount ship"/>
                                <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
                                <input type="hidden" value={{ ship_fleet.id_project_ship }} name="hidden_del_ship"/>
                                <input class="scientic" type="submit" value="Убрать из флота" name="del_ship"/>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            {% endif %}
            {% if command == 3 %}
                {% if flightplans %}
                    <form method="post" action="start_flight" enctype="multipart/form-data"
                          style="text-align: center;  margin-bottom: 15px; border: 1px solid; border-radius: 7px;">
                        <h3 style="text-align: center">Полетный лист</h3>
                        {% for flightplan in flightplans %}
                            {% if flightplan.class_command == 1 %}
                                {% for flightplan_flight in flightplan_flights %}
                                    {% if flightplan_flight.id_fleetplan == flightplan.id %}
                                        <div class="fleet" style="text-align: center">
                                            <p>Перелет в точку {{ flightplan_flight.finish_x }}
                                                : {{ flightplan_flight.finish_y }}
                                                : {{ flightplan_flight.finish_z }}</p>

                                            <p>Status:
                                                {% if flightplan.status == 0 %}
                                                    stand by
                                                {% else %}
                                                    prosecution
                                                {% endif %}
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            {% endif %}

                        {% endfor %}
                        <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
                        <input class="scientic" type="submit" value="Start flight" name="start_flight"/>
                    </form>
                {% endif %}

                <form method="post" action="fleet_fly" enctype="multipart/form-data" style="text-align: center">
                    <p>
                        <input type="checkbox" name="city" class="coordinate_checkbox">
                        Перелет к планете
                        <input value="0" name="planet_system" class="coordinate_place"/>
                        <input value="0" name="planet_planet" class="coordinate_place"/>
                    </p>

                    <p>
                        Использовать гипер
                        <input type="checkbox" name="planet_giper" class="coordinate_checkbox">
                        Использовать джамп
                        <input type="checkbox" name="planet_null" class="coordinate_checkbox">
                    </p>


                    <p>
                        <input type="checkbox" name="coordinate" class="coordinate_checkbox">
                        Перелет в координаты
                        <input value="0" name="coordinate_x" class="coordinate_place"/>
                        <input value="0" name="coordinate_y" class="coordinate_place"/>
                        <input value="0" name="coordinate_z" class="coordinate_place"/>
                    </p>

                    <p>
                        Системные координаты
                        <input value="0" name="coordinate_system" class="coordinate_place"/>
                        Межсистемные координаты
                        <input type="checkbox" name="coordinate_intersystem" class="coordinate_checkbox">
                    </p>

                    <p>
                        Использовать гипер
                        <input type="checkbox" name="coordinate_giper" class="coordinate_checkbox">
                        Использовать джамп
                        <input type="checkbox" name="coordinate_null" class="coordinate_checkbox">
                    </p>
                    <input type="hidden" value={{ fleet_id }} name="hidden_fleet"/>
                    <input class="scientic" type="submit" value="Add command" name="add_command"/>

                </form>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}