{% extends "base.html" %}
{% block title %}Проектирование кораблей{% endblock %}
{% block content %}
    <div id="game_content">
        <div id="block_design_left">
            <form method="post" action="fleet_manage" enctype="multipart/form-data" style="text-align: center">
                <input value="" name="fleet_name" class="scientic_place"
                       placeholder="Fleet name"/>
                <input class="scientic" type="submit" value="New fleet" name="create_fleet"/>

                {% for user_fleet in user_fleets %}
                    <div class="fleet">
                        <p>{{ user_fleet.name }}</p>

                        <p>
                            Coordinate: {{ user_city.name_city }} - {{ user_city.system_id }} : {{ user_city.planet_id }}({{ user_fleet.x }} : {{ user_fleet.y }} : {{ user_fleet.z }})
                        </p>

                        <p>
                            <input class="scientic" type="submit" value="Navy ships" name="navy_ships"/>
                            <input class="scientic" type="submit" value="The hold of the fleet" name="hold_fleet"/>
                            <input class="scientic" type="submit" value="Flight plan" name="flight_plan"/>
                            <input type="hidden" id="user_fleet{{ user_fleet.id }}"
                                   value={{ user_fleet.id }} name="hidden_fleet"/>
                        </p>

                        <p>
                            <input class="scientic" type="submit" value="Delete fleet" name="delete_fleet" style="margin-top: 5px"/>
                            <input type="hidden" id="user_fleet{{ user_fleet.id }}"
                                   value={{ user_fleet.id }} name="hidden_fleet"/>
                        </p>

                    </div>

                {% endfor %}
            </form>

        </div>
        <div id="block_design_right">
            <h3 style="text-align: center">Панель управления флотом </h3>
            {% if ships %}
                {% for ship in ships %}

                {% endfor %}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}