{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Торговля{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %}">
    <div id="block_trade">

        <div style="text-align: center;">

            <p style="text-align: right; margin-right: 5px">
                <a href="#buy_credit" class="create_trade_fleet">Валютные операции</a>
                <a href="#create_trade_fleet" class="create_trade_fleet">Создать торговый флот</a>
                <a href="#trade_space" class="trade_space">Торговое
                    пространство</a>
            </p>

            <p style="text-align: right; color: rgb(152, 32, 32); font-size: 14px">{{ message }}</p>

            <p style="text-align: right; margin-right: 5px">
                <a href="#trade_add_element" class="trade_add_element">Добавить
                    товар на продажу</a>
                <a href="#trade_element" class="trade_element">Торговые ставки</a>
                <a href="#trade_buy_element" class="trade_buy_element">Купеленый товар</a></p>

        </div>


        <!-- Модальное окно 1 -->
        {% include 'trade_template/modal_window_1.html' %}

        <!-- Модальное окно 2 -->
        {% include 'trade_template/modal_window_2.html' %}

        <!-- Модальное окно 3 -->
        {% include 'trade_template/modal_window_3.html' %}

        <!-- Модальное окно 4 -->
        {% include 'trade_template/modal_window_4.html' %}

        <!-- Модальное окно 5 -->
        {% include 'trade_template/modal_window_5.html' %}

        <!-- Модальное окно 6 -->
        {% include 'trade_template/modal_window_6.html' %}

        <!-- Модальное окно 7 -->
        {% include 'trade_template/modal_window_7.html' %}


        <div style="border: 1px solid #000000; border-radius: 7px; margin: 3px 0 5px 0">
            <p align="center">Пространство: {{ trade_space.name }}</p>
            <table border="1" align="center" style="margin: 0 5px 7px 5px" class="trade_table">
                <caption>Торговые ставки</caption>
                <tr align="center">
                    <td style="width: 250px">Товар</td>
                    <td style="width: 100px">Количество</td>
                    <td style="width: 150px">Цена за все</td>
                    <td style="width: 150px">Минимальная партия</td>
                    <td style="width: 150px">Цена партии</td>
                    <td style="width: 175px">Количество товара</td>
                    <td style="width: 175px">Способ доставки</td>
                    <td style="width: 150px">Покупка</td>
                </tr>
                {% for trade_element in trade_elements %}
                    {% if trade_element.user != user.user_id %}
                        <tr align="center">
                            <form method="post" action="buy_trade" value="{{ trade_element.id }}">
                                <input type="hidden" id=trade_space_id
                                       value="{{ trade_space_id }}" name="trade_space_id">
                                <td>{{ trade_element.name }}</td>
                                <td>{{ trade_element.amount }}</td>
                                <td>{{ trade_element.cost }} кредитов</td>
                                <td>{{ trade_element.min_amount }}</td>
                                <td>{{ trade_element.cost_element }} кредитов</td>
                                <td><input type="text" value=""
                                           name="amount" class="trade_place" placeholder="Покупка"/></td>
                                <td>
                                    <p>
                                        <select name="method" class="trade_button">
                                            <option value="0">Способ доставки</option>
                                            <option value="1">Телепортация</option>
                                            <option value="2">Флотом покупателя</option>
                                            <option value="3">Флотом продавца</option>
                                        </select>
                                    </p>
                                    <p>Отложить <input type="checkbox" checked name="set_aside"/></p>

                                </td>
                                <td><input href="trade_del/{{ trade_element.id }}" style="margin:0 2px 0 2px"
                                           type="submit" value="Купить" class="trade_del"/>

                                    <input type="hidden" id="trade_buy"
                                           value={{ trade_element.id }} name="trade_buy"/>
                                </td>

                            </form>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <h3 style="text-align: right; margin:0 10px 5px 0">Наличие энергии в
                накопителях: {{ trade_building.warehouse }}</h3>
        </div>

    </div>
    <div class="clear"></div>

    <div class="clear"></div>
{% endblock %}