{% extends "base.html" %}
{% block title %}Торговля{% endblock %}
{% block content %}
    <div id="game_content">
        <div id="block_trade">

            <div style="text-align: center;">

                <p style="text-align: right; margin-right: 5px"><a href="#trade_space" class="trade_space">Торговое
                    пространство</a></p>

                <p style="text-align: right; color: rgb(152, 32, 32); font-size: 14px">{{ message }}</p>

                <p style="text-align: right; margin-right: 5px">
                    <a href="#trade_add_element" class="trade_add_element">Добавить
                        товар на продажу</a>
                    <a href="#trade_element" class="trade_element">Торговые ставки</a>
                    <a href="#trade_buy_element" class="trade_buy_element">Купеленый товар</a></p>
                <a href="buy" class="trade_buy">Купить</a>
            </div>


            <!-- Модальное окно 1 -->
            <a class="overlay" id="trade_space"></a>

            <div class="popup_space">
                <form method="post" action="trade">
                    <h3>Выбрать торговое пространство</h3>

                    <input type="hidden" id="trade_space_id" value={{ trade_space_id }} name="trade_space_id"/>

                    <select name="trade_space_id" class="scientic">
                        <option value="0">Выберите пространство</option>
                        {% for trade_space in trade_spaces %}
                            <option value="{{ trade_space.id }}">{{ trade_space.name }}</option>
                        {% endfor %}
                    </select>
                    <h4>Код доступа</h4>
                    <input type="password" value=""
                           name="password" class="scientic_place" placeholder="password"/>

                    <input style="margin-top: 7px" type="submit" value="OK" name="add_button" class="scientic"/>

                    <p style="text-align: right; margin-right: 5px; margin-top: 15px"><a href="#new_trade_space"
                                                                                         class="trade_space">Создать
                        торговое пространство</a></p>
                    <a class="close" title="Закрыть" href="#close"></a>
                </form>
            </div>

            <!-- Модальное окно 2 -->
            <a class="overlay" id="new_trade_space"></a>

            <div class="popup_space">
                <form method="post" action="new_trade_space">
                    <h3>Создать пространство</h3>
                    <input type="hidden" id=trade_space_id
                           value="{{ trade_space_id }}" name="trade_space_id">
                    <h4>Название</h4>
                    <input type="text" value=""
                           name="name" class="scientic_place" placeholder="name"/>

                    <h4>Код доступа</h4>
                    <input type="password" value=""
                           name="pass" class="scientic_place" placeholder="password"/>


                    <h4>Налог от продаж</h4>
                    <select name="tax" class="scientic">
                        <option value="0">Выберите налог</option>
                        <option value="1">1%</option>
                        <option value="2">2%</option>
                        <option value="3">3%</option>
                        <option value="4">4%</option>
                        <option value="5">5%</option>
                    </select>

                    <input style="margin-top: 7px" type="submit" value="OK" name="add_button" class="scientic"/>

                    <a class="close" title="Закрыть" href="#close"></a>
                </form>
            </div>

            <!-- Модальное окно 3 -->
            <a class="overlay" id="trade_add_element"></a>

            <div class="popup_add">

                <h3>Добавить товар на продажу</h3>

                <form method="post" action="add_trade_element">
                    <input type="hidden" id="trade_space_id" value={{ trade_space_id }} name="trade_space_id"/>

                    <p>Название
                        <select name="name" class="scientic">
                            <option selected disabled>Товар</option>
                            <optgroup label="Resource">
                                {% for warehouse in warehouses %}
                                    {% if warehouse.amount > 0 %}
                                        {% for basic_resource in basic_resources %}
                                            {% if basic_resource.id == warehouse.id_resource %}
                                                <option value="{{ warehouse.id_resource }}; 0">{{ basic_resource.name }}
                                                    ( {{ warehouse.amount }} )
                                                </option>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Factory">
                                {% if warehouse_factorys %}
                                    {% for warehouse_factory in warehouse_factorys %}
                                        {% for factory_pattern in factory_patterns %}
                                            {% if warehouse_factory.factory_id == factory_pattern.id %}
                                                {% if warehouse_factory.amount > 0 %}
                                                    <option value="{{ warehouse_factory.id }}; 10"
                                                            >{{ factory_pattern.name }}
                                                        ( {{ warehouse_factory.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </optgroup>
                            <optgroup label="Hull">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if warehouse_element.element_class == 1 %}
                                        {% if warehouse_element.amount > 0 %}
                                            {% for hull_pattern in hull_patterns %}
                                                {% if hull_pattern.id == warehouse_element.element_id %}
                                                    <option value="{{ warehouse_element.id }}; {{ warehouse_element.element_class }}">{{ hull_pattern.name }}
                                                        ( {{ warehouse_element.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Armor">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if warehouse_element.element_class == 2 %}
                                        {% if warehouse_element.amount > 0 %}
                                            {% for armor_pattern in armor_patterns %}
                                                {% if armor_pattern.id == warehouse_element.element_id %}
                                                    <option value="{{ warehouse_element.id }}; {{ warehouse_element.element_class }}">{{ armor_pattern.name }}
                                                        ( {{ warehouse_element.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Shield">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if warehouse_element.element_class == 3 %}
                                        {% if warehouse_element.amount > 0 %}
                                            {% for shield_pattern in shield_patterns %}
                                                {% if shield_pattern.id == warehouse_element.element_id %}
                                                    <option value="{{ warehouse_element.id }}; {{ warehouse_element.element_class }}">{{ shield_pattern.name }}
                                                        ( {{ warehouse_element.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Engine">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if warehouse_element.element_class == 4 %}
                                        {% if warehouse_element.amount > 0 %}
                                            {% for engine_pattern in engine_patterns %}
                                                {% if engine_pattern.id == warehouse_element.element_id %}
                                                    <option value="{{ warehouse_element.id }}; {{ warehouse_element.element_class }}">{{ engine_pattern.name }}
                                                        ( {{ warehouse_element.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Generator">

                                {% for warehouse_element in warehouse_elements %}
                                    {% if warehouse_element.element_class == 5 %}
                                        {% if warehouse_element.amount > 0 %}
                                            {% for generator_pattern in generator_patterns %}
                                                {% if generator_pattern.id == warehouse_element.element_id %}
                                                    <option value="{{ warehouse_element.id }}; {{ warehouse_element.element_class }}">{{ generator_pattern.name }}
                                                        ( {{ warehouse_element.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Weapon">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if warehouse_element.element_class == 6 %}
                                        {% if warehouse_element.amount > 0 %}
                                            {% for weapon_pattern in weapon_patterns %}
                                                {% if weapon_pattern.id == warehouse_element.element_id %}
                                                    <option value="{{ warehouse_element.id }}; {{ warehouse_element.element_class }}">{{ weapon_pattern.name }}
                                                        ( {{ warehouse_element.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Shell">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if warehouse_element.element_class == 7 %}
                                        {% if warehouse_element.amount > 0 %}
                                            {% for shell_pattern in shell_patterns %}
                                                {% if shell_pattern.id == warehouse_element.element_id %}
                                                    <option value="{{ warehouse_element.id }}; {{ warehouse_element.element_class }}">{{ shell_pattern.name }}
                                                        ( {{ warehouse_element.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Module">
                                {% for warehouse_element in warehouse_elements %}
                                    {% if warehouse_element.element_class == 8 %}
                                        {% if warehouse_element.amount > 0 %}
                                            {% for module_pattern in module_patterns %}
                                                {% if module_pattern.id == warehouse_element.element_id %}
                                                    <option value="{{ warehouse_element.id }}; {{ warehouse_element.element_class }}">{{ module_pattern.name }}
                                                        ( {{ warehouse_element.amount }} )
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            </optgroup>
                            <optgroup label="Ship">
                                {% for ship in ships %}
                                    {% if ship.amount_ship > 0 %}
                                        {% for project_ship in project_ships %}
                                            {% if project_ship.id == ship.id_project_ship %}
                                                <option value="{{ ship.id }}; 11">{{ project_ship.name }}
                                                    ( {{ ship.amount_ship }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        </select>
                    </p>

                    <p>Количество <input type="text" value=""
                                         name="amount" class="scientic_place" placeholder="Количество"/></p>

                    <p>Цена всей партии <input type="text" value=""
                                               name="price" class="scientic_place" placeholder="Цена всей партии"/></p>

                    <p>Цена единицы <input type="text" value=""
                                           name="unit_price" class="scientic_place" placeholder="Цена единицы"/></p>

                    <p>Минимальная партия <input type="text" value=""
                                                 name="minimum_lot" class="scientic_place"
                                                 placeholder="Минимальная партия"/></p>


                    <p>Личная ставка <input type="text" value="Empty"
                                            name="personal_rate" class="scientic_place" placeholder="Личная ставка"/>
                    </p>

                    <p>Уведомить <input type="checkbox" name="notify"/></p>

                    <p>Запрет продаж <select name="ban" class="scientic">
                        <option value="0">-3</option>
                        <option value="1">-2</option>
                        <option value="2">-1</option>
                        <option selected value="3">0</option>
                        <option value="4">1</option>
                        <option value="5">2</option>
                        <option value="6">3</option>
                    </select></p>


                    <input style="margin-top: 7px" type="submit" value="OK" name="add_button" class="scientic"/>

                </form>


                <a class="close" title="Закрыть" href="#close"></a>
            </div>


            <!-- Модальное окно 4 -->
            <a class="overlay" id="trade_element"></a>

            <div class="popup_trade">

                <table border="1" align="center">
                    <caption>Торговые ставки</caption>
                    <tr>
                        <td>Товар</td>
                        <td>Пространство</td>
                        <td>Количество</td>
                        <td>Цена за все</td>
                        <td>Минимальная партия</td>
                        <td>Цена партии</td>
                        <td>Ставка</td>

                    </tr>

                    {% for trade_element in trade_elements %}
                        <tr>
                            <form method="post" action="del_trade" value="{{ trade_element.id }}">
                                <input type="hidden" id=trade_space_id
                                       value="{{ trade_space_id }}" name="trade_space_id">
                                <td>{{ trade_element.name }}</td>
                                {% for trade_space in trade_spaces %}
                                    {% if trade_space.id == trade_element.trade_space %}

                                        <td>{{ trade_space.name }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{ trade_element.amount }}</td>
                                <td>{{ trade_element.cost }}</td>
                                <td>{{ trade_element.min_amount }}</td>
                                <td>{{ trade_element.cost_element }}</td>
                                {% if trade_element.buyer == 0 %}
                                    <td>Общая ставка</td>
                                {% else %}
                                    {% for user in users %}
                                        {% if user.user_id == trade_element.buyer %}
                                            <td>{{ user.user_name }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <td><input href="trade_del/{{ trade_element.id }}" style="margin:0 2px 0 2px"
                                           type="submit"
                                           value="Снять" class="trade_del 1212"/>
                                    <input type="hidden" id="trade_del" value={{ trade_element.id }} name="trade_del"/>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>


                <a class="close" title="Закрыть" href="#close"></a>
            </div>


            <!-- Модальное окно 5 -->
            <a href="#x" class="overlay" id="win4"></a>

            <div class="popup">

            </div>
            <div style="border: 1px solid #000000; border-radius: 7px; margin: 3px 0 5px 0">
                <p align="center">Пространство: {{ trade_space.name }}</p>
                <table border="1" align="center" style="margin-bottom: 7px">
                    <caption>Торговые ставки</caption>
                    <tr align="center">
                        <td style="width: 250px">Товар</td>
                        <td style="width: 100px">Количество</td>
                        <td style="width: 150px">Цена за все</td>
                        <td style="width: 150px">Минимальная партия</td>
                        <td style="width: 150px">Цена партии</td>
                        <td style="width: 175px">Количество товара</td>
                        <td style="width: 175px">Способ доставки</td>
                        <td style="width: 150px">Покупка</td>
                    </tr>
                    {% for trade_element in trade_elements %}
                        <tr align="center">
                            <form method="post" action="buy_trade" value="{{ trade_element.id }}">
                                <input type="hidden" id=trade_space_id
                                       value="{{ trade_space_id }}" name="trade_space_id">
                                <td>{{ trade_element.name }}</td>
                                <td>{{ trade_element.amount }}</td>
                                <td>{{ trade_element.cost }} кредитов</td>
                                <td>{{ trade_element.min_amount }}</td>
                                <td>{{ trade_element.cost_element }} кредитов</td>
                                <td><input type="text" value=""
                                           name="amount" class="scientic_place" placeholder="Покупка"/></td>
                                <td>
                                    <p>
                                        <select name="methot" class="scientic">
                                            <option disabled value="0">Способ доставки</option>
                                            <option value="1">Телепортация</option>
                                            <option value="2">Флотом покупателя</option>
                                            <option value="3">Флотом продавца</option>
                                        </select>
                                    </p>
                                    <p>Отложить <input type="checkbox" name="set_aside"/></p>

                                </td>
                                <td><input href="trade_del/{{ trade_element.id }}" style="margin:0 2px 0 2px"
                                           type="submit" value="Купить" class="trade_del"/>

                                    <input type="hidden" id="trade_buy" value={{ trade_element.id }} name="trade_buy"/>
                                </td>

                            </form>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}