{% extends "base.html" %}

{% block title %}Склад{% endblock %}

{% block content %}
    <td class="center_col_left">
        <p>Name: {{ user.user_name }}</p>

        <p>planet_type: {{ user.race_id }}</p>

        <p>E-mail: {{ user.e_mail }}</p>
    </td>

    <td class="center_col_right">
        <h3>
            CIVILIZATION VIEWS
        </h3>

        <p>Следует отметить, что мы явно не используем сокращение render_to_response() — мы вручную загружаем
            шаблоны, конструируем объекты с контекстом и обрабатываем шаблоны. Мы делаем так с целью облегчения
            понимания вами этих примеров.

            Каждое представление принимает три одинаковые переменные, app, user и ip_address, для своего шаблона.
            Неплохо было бы убрать эту избыточность.

            Класс RequestContext и контекстные процессоры были созданы для решения этой задачи. Контекстные
            процессоры позволяют вам указывать ряд переменных, которые будут устанавливаться автоматически для
            каждого контекста, без необходимости их указания в каждом вызове render_to_response(). Надо лишь
            использовать RequestContext вместо Context при обработке шаблона.

            Самый низкоуровневый метод использования контекстных процессоров заключается в создании нескольких
            процессоров и в передачи им RequestContext. Перепишем вышеприведённые примеры с использованием
            контекстных процессоров:</p>

    </td>
{% endblock %}


