{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Склад{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/warehouse.css' %}">
    <div class="left_warehouse_block">
        <p>City name: {{ user_city.name_city }}</p>

        <h3><p style="text-align: center">Warehouse</p></h3>
        {% for warehouse in warehouses %}
            {% spaceless %}
                {% for basic_resource in basic_resources %}
                    {% if basic_resource.id == warehouse.id_resource %}
                        <p>{{ basic_resource.name }}: {{ warehouse.amount }}</p>
                    {% endif %}
                {% endfor %}
            {% endspaceless %}
        {% endfor %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_factory" type="checkbox" align="left">
                <label for="Warehouse_factory">
                    <h3><p style="text-align: center">Warehouse_factory</p></h3>
                </label>

                <div>
                    {% if warehouse_factorys %}
                        {% for warehouse_factory in warehouse_factorys %}
                            {% for factory_pattern in factory_patterns %}
                                {% if warehouse_factory.factory_id == factory_pattern.id %}
                                    {% if warehouse_factory.amount > 0 %}
                                        <p>
                                        <div class="warehouse_inform">
                                            <ul>
                                        <span>{{ factory_pattern.name }}
                                            <i>
                                                {% for attribute_factory in attribute_factorys %}
                                                    {% load my_filter %}
                                                    {% if factory_pattern|getattribute:attribute_factory != 0 %}
                                                        <li style="list-style-type: none">
                                                            {{ attribute_factory }}:{{ factory_pattern|getattribute:attribute_factory }}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                            </i> </b>: {{ warehouse_factory.amount }} </b>
                                        </span>
                                            </ul>
                                        </div>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        {% endspaceless %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_hull" type="checkbox" align="left">
                <label for="Warehouse_hull">
                    <h3><p style="text-align: center">Warehouse_hull</p></h3>
                </label>

                <div>
                    {% for warehouse_element in warehouse_elements %}
                        {% if warehouse_element.element_class == 1 %}
                            {% if warehouse_element.amount > 0 %}
                                {% for hull_pattern in hull_patterns %}
                                    {% if hull_pattern.id == warehouse_element.element_id %}
                                        <div class="warehouse_inform">
                                            <ul>
                                                    <span><p>{{ hull_pattern.name }}
                                                        <i>
                                                            {% for attribute_hull in attribute_hulls %}
                                                                {% load my_filter %}
                                                                {% if hull_pattern|getattribute:attribute_hull != 0 %}
                                                                    <li style="list-style-type: none">
                                                                        {{ attribute_hull }}:{{ hull_pattern|getattribute:attribute_hull }}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </i> - {{ warehouse_element.amount }}
                                                    </p>
                                                    </span>
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endspaceless %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_armor" type="checkbox" align="left">
                <label for="Warehouse_armor">
                    <h3><p style="text-align: center">Warehouse_armor</p></h3>
                </label>

                <div>
                    {% for warehouse_element in warehouse_elements %}
                        {% if warehouse_element.element_class == 2 %}
                            {% if warehouse_element.amount > 0 %}
                                {% for armor_pattern in armor_patterns %}
                                    {% if armor_pattern.id == warehouse_element.element_id %}

                                        <div class="warehouse_inform">
                                            <ul>
                                                    <span>{{ armor_pattern.name }}
                                                        <i>
                                                            {% for attribute_armor in attribute_armors %}
                                                                {% load my_filter %}
                                                                {% if armor_pattern|getattribute:attribute_armor != 0 %}
                                                                    <li style="list-style-type: none">
                                                                        {{ attribute_armor }}:{{ armor_pattern|getattribute:attribute_armor }}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </i>  - {{ warehouse_element.amount }}
                                                    </span>
                                            </ul>
                                        </div>

                                        </p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endspaceless %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_shield" type="checkbox" align="left">
                <label for="Warehouse_shield">
                    <h3><p style="text-align: center">Warehouse_shield</p></h3>
                </label>

                <div>
                    {% for warehouse_element in warehouse_elements %}
                        {% if warehouse_element.element_class == 3 %}
                            {% if warehouse_element.amount > 0 %}
                                {% for shield_pattern in shield_patterns %}
                                    {% if shield_pattern.id == warehouse_element.element_id %}

                                        <div class="warehouse_inform">
                                            <ul>
                                                    <span>{{ shield_pattern.name }}
                                                        <i>
                                                            {% for attribute_shield in attribute_shields %}
                                                                {% load my_filter %}
                                                                {% if shield_pattern|getattribute:attribute_shield != 0 %}
                                                                    <li style="list-style-type: none">
                                                                        {{ attribute_shield }}:{{ shield_pattern|getattribute:attribute_shield }}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </i>  - {{ warehouse_element.amount }}
                                                    </span>
                                            </ul>
                                        </div>

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endspaceless %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_engine" type="checkbox" align="left">
                <label for="Warehouse_engine">
                    <h3><p style="text-align: center">Warehouse_engine</p></h3>
                </label>

                <div>
                    {% for warehouse_element in warehouse_elements %}
                        {% if warehouse_element.element_class == 4 %}
                            {% if warehouse_element.amount > 0 %}
                                {% for engine_pattern in engine_patterns %}
                                    {% if engine_pattern.id == warehouse_element.element_id %}

                                        <div class="warehouse_inform">
                                            <ul>
                                                    <span>{{ engine_pattern.name }}
                                                        <i>
                                                            {% for attribute_engine in attribute_engines %}
                                                                {% load my_filter %}
                                                                {% if engine_pattern|getattribute:attribute_engine != 0 %}
                                                                    <li style="list-style-type: none">
                                                                        {{ attribute_engine }}:{{ engine_pattern|getattribute:attribute_engine }}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </i>  - {{ warehouse_element.amount }}
                                                    </span>
                                            </ul>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endspaceless %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_generator" type="checkbox" align="left">
                <label for="Warehouse_generator">
                    <h3><p style="text-align: center">Warehouse_generator</p></h3>
                </label>

                <div>
                    {% for warehouse_element in warehouse_elements %}
                        {% if warehouse_element.element_class == 5 %}
                            {% if warehouse_element.amount > 0 %}
                                {% for generator_pattern in generator_patterns %}
                                    {% if generator_pattern.id == warehouse_element.element_id %}
                                        <div class="warehouse_inform">
                                            <ul>
                                                    <span>{{ generator_pattern.name }}
                                                        <i>
                                                            {% for attribute_generator in attribute_generators %}
                                                                {% load my_filter %}
                                                                {% if generator_pattern|getattribute:attribute_generator != 0 %}
                                                                    <li style="list-style-type: none">
                                                                        {{ attribute_generator }}:{{ generator_pattern|getattribute:attribute_generator }}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </i>  - {{ warehouse_element.amount }}
                                                    </span>
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endspaceless %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_weapon" type="checkbox" align="left">
                <label for="Warehouse_weapon">
                    <h3><p style="text-align: center">Warehouse_weapon</p></h3>
                </label>

                <div>
                    {% for warehouse_element in warehouse_elements %}
                        {% if warehouse_element.element_class == 6 %}
                            {% if warehouse_element.amount > 0 %}
                                {% for weapon_pattern in weapon_patterns %}
                                    {% if weapon_pattern.id == warehouse_element.element_id %}
                                        <div class="warehouse_inform">
                                            <ul>
                                                    <span>{{ weapon_pattern.name }}
                                                        <i>
                                                            {% for attribute_weapon in attribute_weapons %}
                                                                {% load my_filter %}
                                                                {% if weapon_pattern|getattribute:attribute_weapon != 0 %}
                                                                    <li style="list-style-type: none">
                                                                        {{ attribute_weapon }}:{{ weapon_pattern|getattribute:attribute_weapon }}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </i> - {{ warehouse_element.amount }}
                                                    </span>
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endspaceless %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_shell" type="checkbox" align="left">
                <label for="Warehouse_shell">
                    <h3><p style="text-align: center">Warehouse_shell</p></h3>
                </label>

                <div>
                    {% for warehouse_element in warehouse_elements %}
                        {% if warehouse_element.element_class == 7 %}
                            {% if warehouse_element.amount > 0 %}
                                {% for shell_pattern in shell_patterns %}
                                    {% if shell_pattern.id == warehouse_element.element_id %}
                                        <div class="warehouse_inform">
                                            <ul>
                                                    <span>{{ shell_pattern.name }}
                                                        <i>
                                                            {% for attribute_shell in attribute_shells %}
                                                                {% load my_filter %}
                                                                {% if shell_pattern|getattribute:attribute_shell != 0 %}
                                                                    <li style="list-style-type: none">
                                                                        {{ attribute_shell }}:{{ shell_pattern|getattribute:attribute_shell }}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </i>  - {{ warehouse_element.amount }}
                                                    </span>
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endspaceless %}
        {% spaceless %}
            <div>
                <input class="toggle-box" id="Warehouse_module" type="checkbox" align="left">
                <label for="Warehouse_module">
                    <h3><p style="text-align: center">Warehouse_module</p></h3>
                </label>

                <div>
                    {% for warehouse_element in warehouse_elements %}
                        {% if warehouse_element.element_class == 8 %}
                            {% if warehouse_element.amount > 0 %}
                                {% for module_pattern in module_patterns %}
                                    {% if module_pattern.id == warehouse_element.element_id %}
                                        <div class="warehouse_inform">
                                            <ul>
                                                    <span>{{ module_pattern.name }}
                                                        <i>
                                                            {% for attribute_module in attribute_modules %}
                                                                {% load my_filter %}
                                                                {% if module_pattern|getattribute:attribute_module != 0 %}
                                                                    <li style="list-style-type: none">
                                                                        {{ attribute_module }}:{{ module_pattern|getattribute:attribute_module }}
                                                                    </li>
                                                                    {% spaceless %}{% endspaceless %}
                                                                {% endif %}
                                                            {% endfor %}

                                                        </i>  - {{ warehouse_element.amount }}
                                                    </span>
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endspaceless %}


    </div>

    <div class="right_warehouse_block">
        <h3>
            CIVILIZATION VIEWS
        </h3>

        <p>Следует отметить, что мы явно не используем сокращение render_to_response() — мы вручную загружаем
            шаблоны, конструируем объекты с контекстом и обрабатываем шаблоны. Мы делаем так с целью облегчения
            понимания вами этих примеров.

            Каждое представление принимает три одинаковые переменные, app, user и ip_address, для своего шаблона.
            Неплохо было бы убрать эту избыточность.

            Класс RequestContext и контекстные процессоры были созданы для решения этой задачи. Контекстные
            процессоры позволяют вам указывать ряд переменных, которые будут устанавливаться автоматически для
            каждого контекста, без необходимости их указания в каждом вызове render_to_response(). Надо лишь
            использовать RequestContext вместо Context при обработке шаблона.

            Самый низкоуровневый метод использования контекстных процессоров заключается в создании нескольких
            процессоров и в передачи им RequestContext. Перепишем вышеприведённые примеры с использованием
            контекстных процессоров:</p>

    </div>

{% endblock %}


